$base: 16px;
$size-font: 12px;

@function u($size){
  @return (1em / 12) * $size; 
}

$size-icon: var(--as-icon-size);
$size-bar: $base;

$pad: u(3);

$vert-pad: u(6);
$horz-pad: u(9);

$base-padding: $vert-pad $horz-pad;

$vert-button-pad: u(3);
$horz-button-pad: u(6);

$base-button-padding: $vert-button-pad $horz-button-pad;

$radius: u(3);

$shadow: 0px 2px 5px#0000000e;

$color-0: white;
$color-1: #f0f0f0;
$color-2: #e0e0e0;
$color-text: black;

$color-screen: gray;

//old blue #0786cf
$blue: #0a84ff;
$blue-light-1: #249cffff;
$blue-light-2: scale-color($blue-light-1, $lightness: 5%); 

$green: #07cc07;
$green-light-1: scale-color($green, $lightness: 5%);
$green-light-2: scale-color($green, $lightness: 10%);

$color-progress: #4d555c;
$color-progress-text: white;

$color-error-text: #721c24;
$color-error-1: #f8d7da;
$color-error-2: #f5c6cb;

//$color-download-1: #0a84ff;
//$color-download-2: #006efe;

$style-border: u(1) solid $color-2;

$icon-check-green: url("/icons/check_green.svg");
$icon-check-yellow: url("/icons/check_yellow.svg");
$icon-remove: url("/icons/remove.svg");
$icon-loading: url("/icons/loading.svg");
$icon-download: url("/icons/download.svg");
$icon-download-hover: url("/icons/download_hover.svg");
$icon-error: url("/icons/error.svg");

$icon-check-flat: url("/icons/flat/check_flat.svg");
$icon-ex-link: url("/icons/flat/link.svg");
$icon-folder: url("/icons/flat/folder.svg");
$icon-collapse: url("/icons/flat/collapse.svg");

$icon-selection: url("/icons/selection.svg");

%font {
  font: {
    family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    style: normal;
    weight: normal;
  }
  font-size: $size-font;
}

%switch {
  $width: u(32);
  $height: u(18);
  $diameter: u(12);

  $space: ($height - $diameter) / 2;

  position: relative;
  width: $width;
  height: $height;
  border-radius: $height / 2;
  background-color: $color-1;
  margin-right: u(6);
  transition: background-color .2s;
  flex-shrink: 0;

  label:hover &{
    background-color: $color-2;
  }

  input:checked + &{
    background-color: $blue;
  }
  
  label:hover input:checked + &{
    background-color: $blue-light-1;
  }

  &::after {
    content: "";
    position: absolute;
    width: $diameter;
    height: $diameter;
    left: $space;
    bottom: $space;
    border-radius: $diameter / 2;
    background-color: #fff;
    transition: left .2s;
  }

  input:checked + &::after {
    left: $width - ($diameter + $space);
  }
}

%search-box {
  display: none;
  border-top: $style-border;
  width: 100%;

  .search {
    padding: u(2) $horz-pad;
    background-color: $color-1;
    display: flex;

    button {
      border-radius: 0 $radius $radius 0;
      border-left: none;
      margin: 0;
    }

    .input-holder {
      flex: 1;
      display: flex;
    }
  
    input {
      background-color: $color-0;
      border: $style-border;
      border-radius: $radius 0 0 $radius;
      padding: $base-button-padding;
      width: 100%;
      font: {
        size: inherit;
        family: inherit;
      }
    }
  }

  .list {
    border-top: $style-border;
    position: relative;
    overflow: auto;
    resize: vertical;
  }
  
  .link-list {
    position: absolute;
    top: 0;
    width: 100%;

    > a {
      position: absolute;
      display: block;
      text-decoration: none;
      color: $color-text;
      padding: u(1) u(21);
      transition: padding-left 0.2s;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      box-sizing: border-box;

      &:hover {
        background-color: $color-1;
        padding-left: u(27);
      }

      .link-search {
        font-weight: 700;
      }
    }
  }
}

%icon-button {
  background-color: $color-0;
  border: $style-border;
  border-radius: $radius;
  padding: $base-button-padding;

  cursor: pointer;
  color: $color-text;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  margin: 0 u(2);
  display: flex;

  > i {
    margin: auto;
  }

  &:hover {
    background-color: $color-1;
  }

  &#user-folder {
    display: none;
  }
}