@use "sass:math";

$base: 16px;
$size-font: 12px;

@function ue($size) {
	@return math.div(1em, 12) * $size;
}

@function ur($size) {
	@return math.div(1rem, 12) * $size;
}

$size-icon: var(--as-icon-size);
$size-bar: $base;

$radius: ur(3);

$shadow: 0px 2px 5px#0000000e;

@mixin theme-light {
	--color-0: #ffffff;
	--color-1: #e2e1e7;
	--color-2: #d1d0da;
	--color-3: #c4c3d0;
	--text: black;
	--error-0: #f8d7da;
	--error-1: #f3bcc0;
	--error-2: #eea0a6;
	--error-3: #e9838c;
	--error-text: #530909;
	--warning-0: #f6d690;
	--warning-text: #976700;
}

@mixin theme-dark {
	--color-0: #1c1b22;
	--color-1: #282731;
	--color-2: #373642;
	--color-3: #413f50;
	--text: white;
	--error-0: #530909;
	--error-1: #6e0c0c;
	--error-2: #890e0e;
	--error-3: #a41111;
	--error-text: #f8d7da;
	--warning-0: #f6d690;
	--warning-text: #976700;
}

@mixin themes {
	&.artsaver-theme-light {
		@include theme-light;
	}
	&.artsaver-theme-dark {
		@include theme-dark;
	}
	&.artsaver-theme-auto {
		@media (prefers-color-scheme: light) {
			@include theme-light;
		}

		@media (prefers-color-scheme: dark) {
			@include theme-dark;
		}
	}
}

$border: 1px solid var(--color-2);

$color-screen: gray;

$blue-0: #0a84ff;
$blue-1: #2893ff;
$blue-2: #44a2ff;

$green-0: #07cc07;
$green-1: #08df08;
$green-2: #09f309;

$color-progress: #373642;
$color-progress-text: white;

$icon-check-green: url("/icons/check_green.svg");
$icon-check-yellow: url("/icons/check_yellow.svg");
$icon-remove: url("/icons/remove.svg");
$icon-loading: url("/icons/loading.svg");
$icon-download: url("/icons/download.svg");
$icon-download-hover: url("/icons/download_hover.svg");
$icon-error: url("/icons/error.svg");

$icon-check-flat: url("/icons/flat/check_flat.svg");
$icon-ex-link: url("/icons/flat/link.svg");
$icon-folder: url("/icons/flat/folder.svg");
$icon-collapse: url("/icons/flat/collapse.svg");
$icon-home: url("/icons/flat/home.svg");
$icon-gallery: url("/icons/flat/gallery.svg");

$icon-selection: url("/icons/selection.svg");

@mixin hover($start: 0, $active: false, $badge: false, $color: "color") {
	$c0: var(--#{$color}-#{math.clamp(0, $start, 3)});
	$c1: var(--#{$color}-#{math.clamp(0, $start + 1, 3)});
	$c2: var(--#{$color}-#{math.clamp(0, $start + 2, 3)});
	$c3: var(--#{$color}-#{math.clamp(0, $start + 3, 3)});

	background-color: $c0;

	&:hover {
		background-color: $c1;

		@if $badge {
			.badge {
				background-color: $c0;
			}
		}
	}

	&:active {
		background-color: $c2;
	}

	@if $active {
		&.active {
			background-color: $c1;

			@if $badge {
				.badge {
					background-color: $c0;
				}
			}

			&:hover {
				background-color: $c2;
			}

			&:active {
				background-color: $c3;
			}
		}
	}
}

%font {
	font: {
		family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
			"Helvetica Neue", sans-serif;
		style: normal;
		weight: normal;
		size: $size-font;
	}
}

%switch {
	$width: ue(32);
	$height: ue(18);
	$diameter: ue(12);

	$space: math.div(($height - $diameter), 2);

	position: relative;
	width: $width;
	height: $height;
	border-radius: math.div($height, 2);
	transition: background-color 0.2s;
	flex-shrink: 0;
	background-color: var(--color-1);

	&:hover {
		background-color: var(--color-2);
	}

	input:checked + & {
		background-color: $blue-0;
	}

	label:hover input:checked + & {
		background-color: $blue-1;
	}

	&::after {
		content: "";
		position: absolute;
		width: $diameter;
		height: $diameter;
		left: $space;
		bottom: $space;
		border-radius: math.div($diameter, 2);
		background-color: var(--color-0);
		transition: left 0.2s;
	}

	input:checked + &::after {
		background-color: white;
		left: $width - ($diameter + $space);
	}
}

%icon-button {
	@include hover(0);
	cursor: pointer;
	font-size: 1rem;
	text: {
		align: center;
		decoration: none;
	}
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--text);
}

@mixin info-search-list {
	.info-box {
		width: 100%;
	}

	.search-box {
		padding: ur(2) ue(9);
		display: flex;
		background-color: var(--color-1);
	}

	.search-clear {
		@extend %icon-button;
		padding: ur(6);
		border: $border;
		border-left: none;
		border-radius: 0;
	}

	.search-sort {
		@extend %icon-button;
		padding: ur(6);
		border: $border;
		border-left: none;
		border-radius: 0 $radius $radius 0;
	}

	.search-input {
		color: inherit;
		border: $border;
		border-radius: $radius 0 0 $radius;
		padding: ue(3) ue(6);
		outline: none;
		font: {
			size: inherit;
			family: inherit;
		}
		flex: 1;
		background-color: var(--color-0);

		&:focus {
			border-right: {
				style: solid;
				width: 1px;
			}
			border-color: $blue-0;
		}
	}

	.list-box {
		position: relative;
		overflow: auto;
		resize: vertical;
		border-top: $border;
	}

	.list {
		position: absolute;
		top: 0;
		width: 100%;
	}

	.link-search {
		font-weight: 700;
	}

	.list-row {
		display: flex;
		position: absolute;
		white-space: nowrap;
		overflow: hidden;

		width: 100%;
		box-sizing: border-box;
	}

	.row-label {
		flex: 1;
		border-right: {
			width: 1px;
			style: solid;
		}
		padding: {
			top: ue(1);
			bottom: ue(1);
			left: ue(9);
		}
		transition: padding-left 0.2s;
		min-width: 0;
		text-overflow: ellipsis;
		overflow: hidden;
		border-right-color: var(--color-0);

		.list-row:hover & {
			padding-left: ue(15);
			background-color: var(--color-1);
		}
	}

	.row-link {
		@extend %icon-button;

		padding: {
			left: ur(4);
			right: ur(4);
		}
	}
}

%mask-base {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		pointer-events: none;
		z-index: 1;
		mask: {
			repeat: no-repeat;
		}
		background-color: var(--text);
	}
}

@mixin mask-svg() {
	@extend %mask-base;

	&::after {
		@content;
	}
}
