@use "sass:selector";
@use "template" as *;

%checktop {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
}

%checkicon {
	@extend %checktop;
	cursor: pointer;
	margin: 0;
	padding: 0;
	border: 0 none;
	background: {
		repeat: no-repeat;
		size: $size-icon $size-icon;
	}
	height: $size-icon;
	width: $size-icon;
}

.artsaver-check {
	@extend %checkicon;

	&[data-color="green"] {
		background-image: $icon-check-green;
	}

	&[data-color="yellow"] {
		background-image: $icon-check-yellow;
	}

	&:hover,
	&:active {
		background-image: $icon-remove;
	}
}

.artsaver-download {
	@extend %checkicon;
	background-image: $icon-download;
	display: none;

	:hover > & {
		display: block;
	}

	&:hover,
	&:active {
		background-image: $icon-download-hover;
	}
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.artsaver-loading {
	@extend %checkicon;
	animation: rotation 0.5s steps(12, end) infinite;
	background-image: $icon-loading;

	.artsaver-progress + & {
		background-size: $size-bar $size-bar;
		height: $size-bar;
		width: $size-bar;
	}
}

.artsaver-error {
	@extend %checkicon;
	background-image: $icon-error;

	&:hover,
	&:active {
		background-image: $icon-error;
	}
}

#artsaver-tip {
	@extend %font;
	top: 0;
	border-radius: $radius;
	position: absolute;
	text-align: center;
	width: auto;
	z-index: 1000;
	overflow: hidden;

	transition: 0.5s ease-in;
	visibility: hidden;
	opacity: 0;

	@include themed() {
		color: t($text);
		background-color: t($color-0);
	}

	&:hover,
	&:active,
	&[data-display="show"] {
		transition: none;
		visibility: visible;
		opacity: 1;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;

		td {
			padding: $pad ($pad * 2);

			&:first-child {
				@include themed() {
					background-color: t($color-1);
				}
			}
		}

		tr:last-child {
			@include themed() {
				border-top: t($border);
			}
		}
	}
}

.artsaver-holder {
	position: relative;
	display: table;
	margin: auto;
	border-collapse: collapse;
	text-align: center;
}

.artsaver-progress {
	@extend %checktop;
	@extend %font;
	height: $size-bar;
	border-radius: $radius;
	overflow: hidden;
	width: 100%;
	background-color: $color-progress;
}

@keyframes animate-stripes {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: ($size-bar * -4) 0;
	}
}

.artsaver-bar {
	@extend %checktop;
	height: 100%;

	animation: animate-stripes 1s linear infinite;
	background: {
		color: $blue;
		image: linear-gradient(
			135deg,
			$blue-light-1 25%,
			transparent 25%,
			transparent 50%,
			$blue-light-1 50%,
			$blue-light-1 75%,
			transparent 75%,
			transparent
		);
		size: ($size-bar * 2) ($size-bar * 2);
	}
	border-radius: $radius;
	box-sizing: border-box;
	color: $color-progress-text;
}

.artsaver-bar-text {
	padding: {
		left: calc(#{$size-bar} + #{$pad});
		right: $pad;
	}
	text-align: right;
	white-space: nowrap;
	line-height: normal;
}

.artsaver-screen {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9;
	pointer-events: none;

	background-color: $color-screen;
	display: flex;

	&::after {
		$maxsize: 200px;
		$scale: 80%;

		content: "";
		margin: auto;
		max: {
			width: $maxsize;
			height: $maxsize;
		}
		position: relative;
		display: block;
		width: $scale;
		height: $scale;
		object-fit: contain;
		background: {
			image: $icon-check-flat;
			size: contain;
			repeat: no-repeat;
			position: center;
		}
	}
}

#artsaver-info-bar {
	@extend %font;

	position: fixed;
	bottom: 8px;
	left: 8px;
	width: 350px;
	border-radius: $radius;
	box-shadow: $shadow;
	min-width: 150px;
	overflow: hidden;
	resize: horizontal;
	z-index: 1001;
	visibility: visible;
	opacity: 1;

	transition: {
		property: visibility, opacity, bottom;
		duration: 0.2s;
		timing-function: ease-out;
	}

	@include themed() {
		color: t($text);
		background-color: t($color-0);
	}

	&.collapsed {
		visibility: hidden;
		opacity: 0;
		bottom: 0;
	}

	#info-bar {
		display: flex;
	}

	#collapse {
		padding: $base-padding;
		width: u(16);
		flex-shrink: 0;
		cursor: pointer;

		@include mask-svg() {
			mask: {
				position: center;
				size: u(16) u(16);
				image: $icon-collapse;
			}
		}

		&:hover {
			@include themed() {
				background-color: t($color-1);
			}
		}

		&:active {
			@include themed() {
				background-color: t($color-2);
			}
		}
	}

	#queue {
		padding: $pad ($pad * 2);

		@include themed() {
			background-color: t($color-1);
			border-top: t($border);
		}
	}

	.queue-stat {
		margin: 0 auto;
		padding: 0 $pad;
	}

	.list-box {
		@include themed() {
			border-bottom: t($border);
		}
	}

	.list {
		max-height: 300px;
		overflow-y: auto;
	}

	.row {
		display: flex;

		&:not(:last-child) {
			@include themed() {
				border-bottom: t($border);
			}
		}
	}

	.row-text {
		flex: 1;
		padding: u(3) u(9);
		white-space: nowrap;
		overflow: hidden;
		min-width: 0;
		text-overflow: ellipsis;
	}

	#list-recent .row-text {
		gap: u(3);
	}

	.row-button {
		font: {
			size: inherit !important;
			family: inherit;
		}
		border: none;
		box-sizing: border-box;
		padding: 0;
		width: u(24);
		cursor: pointer;

		@include themed() {
			color: t($text);
			background-color: t($color-1);
		}

		@include mask-svg() {
			mask: {
				position: center;
				size: u(12) u(12);
			}
		}

		&.link-icon::after {
			mask-image: $icon-ex-link;
		}
		&.folder-icon::after {
			mask-image: $icon-folder;
		}

		&:hover {
			@include themed() {
				background-color: t($color-2);
			}
		}
	}

	.file-folder {
		display: none;
	}

	#list-files.show-folders .file-folder {
		display: inline;
	}

	.list-bar {
		padding: u(3) u(9);

		@include themed() {
			background-color: t($color-1);
			border-top: t($border);
		}
	}

	#list-errors .row {
		color: $color-error-text;
		background-color: $color-error-1;

		&:not(:last-child) {
			border-bottom: u(1) solid $color-error-2;
		}
	}

	#history-stats {
		flex: 1;
	}

	.stat {
		display: flex;
		padding: $base-padding;
		white-space: nowrap;
		flex: 1;

		&.stat-button {
			&:hover {
				@include themed() {
					background-color: t($color-1);
				}

				.badge {
					@include themed() {
						background-color: t($color-0);
					}
				}
			}

			&:active {
				@include themed() {
					background-color: t($color-2);
				}
			}

			&.active {
				@include themed() {
					background-color: t($color-1);
				}

				.badge {
					@include themed() {
						background-color: t($color-0);
					}
				}

				&:hover {
					@include themed() {
						background-color: t($color-2);
					}
				}

				&:active {
					@include themed() {
						background-color: t($color-3);
					}
				}
			}
		}
	}

	.stat-label {
		margin: auto auto auto 0;
	}

	.stat-badge {
		margin: auto 0 auto $horz-pad;
	}

	.stat-button {
		cursor: pointer;
	}

	.stat-error {
		display: flex;
		padding: $base-padding;
		white-space: nowrap;

		color: $color-error-text;
		background-color: $color-error-1;

		.badge {
			background-color: $color-error-2;
		}

		&.stat-button:hover,
		&.stat-button.active {
			background-color: $color-error-2;

			.badge {
				background-color: $color-error-1;
			}
		}
	}

	#queue-stats,
	#history-stats {
		display: flex;
		white-space: nowrap;
	}

	#list-files .list-bar {
		display: flex;

		input {
			display: none;
		}

		label {
			display: flex;
			margin: 0 auto;
			cursor: pointer;
		}
	}

	.switch {
		@extend %switch;

		margin: {
			left: 0;
			right: u(6);
		}

		@include themed() {
			background-color: t($color-2);
		}
	}

	.hide {
		display: none !important;
	}

	.artsaver-progress {
		margin-top: $pad;
		position: relative;
		height: u(16);
	}

	.artsaver-bar[style="width: 100%;"] {
		background: $blue;
	}

	.artsaver-bar-text {
		padding-left: $pad;
	}

	.badge {
		display: inline;
		border-radius: $radius;
		padding: $base-button-padding;
		font-weight: 600;

		@include themed() {
			background-color: t($color-1);
		}
	}
}

#artsaver-show-info-bar {
	$size: u(36);

	width: $size * 2;
	height: $size;
	position: fixed;
	bottom: 0;
	left: calc(-#{u(19)} + 8px);
	border-radius: $size $size 0 0;
	overflow: hidden;
	opacity: 0;
	z-index: 1002;
	font-size: 12px;

	&:hover {
		opacity: 1;
	}

	&.hide {
		display: none !important;
	}

	#show-tab {
		padding: $base-padding;
		width: u(16);
		flex-shrink: 0;
		height: u(16);
		bottom: u(-20);
		position: relative;
		margin: auto;
		scale: -1;
		border-radius: 0 0 u(3) u(3);
		opacity: 0.5;
		transition: {
			property: opacity, bottom;
			duration: 0.1s;
			timing-function: ease-out;
		}
		box-shadow: $shadow;
		cursor: pointer;

		&:hover {
			opacity: 1;
			bottom: u(-14);

			@include themed() {
				background-color: t($color-1);
			}
		}

		&:active {
			@include themed() {
				background-color: t($color-2);
			}
		}

		@include themed() {
			background-color: t($color-0);
		}

		@include mask-svg() {
			mask: {
				position: center;
				size: u(16) u(16);
				image: $icon-collapse;
			}
		}
	}
}

#artsaver-test-button {
	position: fixed;
	top: 0;
	left: 0;
}

.artsaver-text-render {
	width: 0;
	height: 0;
	overflow: hidden;
	padding: 0;
	margin: 0;
	opacity: 0;
	white-space: pre-wrap;
}
