@use "sass:selector";
@use "template" as *;

%aligntop {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
}

%buttonicon {
	@extend %aligntop;
	cursor: pointer;
	margin: 0;
	padding: 0;
	border: 0 none;
	height: $size-icon;
	width: $size-icon;
	background: {
		repeat: no-repeat;
		size: $size-icon $size-icon;
	}
}

.artsaver-check {
	@extend %buttonicon;

	&[data-color="green"] {
		background-image: $icon-check-green;
	}

	&[data-color="yellow"] {
		background-image: $icon-check-yellow;
	}

	&:hover,
	&:active {
		background-image: $icon-remove;
	}
}

.artsaver-download {
	@extend %buttonicon;
	display: none;
	background-image: $icon-download;

	:hover > & {
		display: block;
	}

	&:hover,
	&:active {
		background-image: $icon-download-hover;
	}
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.artsaver-loading {
	@extend %buttonicon;
	animation: rotation 0.5s steps(12, end) infinite;
	background-image: $icon-loading;

	.artsaver-progress + & {
		background-size: $size-bar $size-bar;
		height: $size-bar;
		width: $size-bar;
	}
}

.artsaver-error {
	@extend %buttonicon;
	background-image: $icon-error;

	&:hover,
	&:active {
		background-image: $icon-error;
	}
}

#artsaver-tip {
	position: absolute;
	top: 0;
	border-radius: ue(3);
	text-align: center;
	width: auto;
	z-index: 1000;
	overflow: hidden;
	display: grid;
	grid-template-columns: auto 1fr auto;
	row-gap: 1px;

	transition: 0.5s ease-in;
	visibility: hidden;
	opacity: 0;

	color: var(--text);
	background-color: var(--color-2);

	&:hover,
	&:active,
	&[data-display="show"] {
		transition: none;
		visibility: visible;
		opacity: 1;
	}

	%info-pad {
		padding: ue(1) ue(6);
	}
	.info-label {
		@extend %info-pad;
		background-color: var(--color-1);
	}
	.info-value {
		@extend %info-pad;
		background-color: var(--color-0);
	}

	.id-value {
		grid-column: 2/4;
	}

	.user-link {
		@include mask-svg() {
			mask: {
				position: center;
				size: ue(12) ue(12);
			}
		}
		@include hover;

		border: none;
		box-sizing: border-box;
		padding: 0;
		width: ue(18);
		cursor: pointer;

		color: var(--text);

		&.gallery-icon::after {
			mask-image: $icon-gallery;
		}
	}
}

.artsaver-holder {
	display: table;
	position: relative;
	margin: auto;
	border-collapse: collapse;
	text-align: center;
}

.artsaver-progress {
	@extend %aligntop;
	@extend %font;
	height: $size-bar;
	border-radius: ue(3);
	overflow: hidden;
	width: 100%;
	background-color: $color-progress;
}

@keyframes animate-stripes {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: ($size-bar * -4) 0;
	}
}

.artsaver-bar {
	@extend %aligntop;
	height: 100%;

	animation: animate-stripes 1s linear infinite;
	border-radius: 3px;
	box-sizing: border-box;
	color: $color-progress-text;
	background: {
		color: $blue-0;
		image: linear-gradient(
			135deg,
			$blue-1 25%,
			transparent 25%,
			transparent 50%,
			$blue-1 50%,
			$blue-1 75%,
			transparent 75%,
			transparent
		);
		size: ($size-bar * 2) ($size-bar * 2);
	}
}

.artsaver-bar-text {
	text-align: right;
	white-space: nowrap;
	line-height: normal;
	padding: {
		left: calc(#{$size-bar} + #{ue(3)});
		right: ue(3);
	}
}

.artsaver-screen {
	display: flex;
	position: absolute;
	inset: 0;
	z-index: 9;
	pointer-events: none;

	background-color: $color-screen;

	&::after {
		$maxsize: 200px;
		$scale: 80%;
		display: block;
		position: relative;

		content: "";
		margin: auto;
		width: $scale;
		height: $scale;
		object-fit: contain;
		max: {
			width: $maxsize;
			height: $maxsize;
		}
		background: {
			position: center;
			image: $icon-check-flat;
			size: contain;
			repeat: no-repeat;
		}
	}
}

#artsaver-ui {
	@include themes;
	@extend %font;

	:focus-visible {
		outline: none;
	}

	.switch {
		@extend %switch;
		background-color: var(--color-2);

		&:hover {
			background-color: var(--color-3);
		}
	}

	.bar-switch {
		display: flex;
		align-items: center;
		gap: ue(6);
		cursor: pointer;
		margin: 0 auto;
	}

	.hide {
		display: none !important;
	}

	.artsaver-progress {
		position: relative;
	}

	.artsaver-bar[style="width: 100%;"] {
		background: $blue-0;
	}

	.artsaver-bar-text {
		padding-left: ue(3);
	}

	%badge {
		display: inline;
		border-radius: ue(3);
		padding: ue(3) ue(6);
		font-weight: 600;
	}

	.badge {
		@extend %badge;
		background-color: var(--color-1);
	}

	%stat {
		display: flex;
		gap: ue(9);
		justify-content: space-between;
		align-items: center;
		padding: ue(3) ue(9);
		white-space: nowrap;
		flex: 1;
	}

	.stat {
		@extend %stat;

		&.stat-button {
			@include hover(0, true, true);
			cursor: pointer;
		}
	}

	.stat-error {
		@extend %stat;
		flex: 0;
		color: var(--error-text);

		&.stat-button {
			@include hover(0, true, true, "error");
			cursor: pointer;
		}

		.badge {
			background-color: var(--error-1);
		}
	}

	.list-box {
		border-bottom: $border;
	}

	.list {
		max-height: 300px;
		overflow-y: auto;
	}

	.row {
		display: flex;

		// &:not(:last-child) {
		// 	border-bottom: $border;
		// }

		&:hover .row-text {
			padding-left: ue(15);
			background-color: var(--color-1);
		}
	}

	%row-cutoff {
		padding-left: ue(9);
		min-width: 0;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.row-text {
		@extend %row-cutoff;
		flex: 1;
		border-right: {
			width: 1px;
			style: solid;
			color: var(--color-0);
		}
		padding: {
			top: ue(1);
			bottom: ue(1);
		}
		transition: padding-left 0.2s;
	}

	%row-button {
		@include mask-svg() {
			mask: {
				position: center;
				size: ue(12) ue(12);
			}
		}
		border: none;
		box-sizing: border-box;
		padding: 0;
		width: ue(20);
		cursor: pointer;
		font: {
			size: inherit !important;
			family: inherit;
		}

		&.link-icon::after {
			mask-image: $icon-ex-link;
		}
		&.folder-icon::after {
			mask-image: $icon-folder;
		}
		&.home-icon::after {
			mask-image: $icon-home;
		}
		&.gallery-icon::after {
			mask-image: $icon-gallery;
		}
	}

	.row-button {
		@extend %row-button;
		@include hover;
		color: var(--text);
	}

	.row-error {
		display: grid;
		grid-template-columns: 1fr ue(20);
		color: var(--error-text);
		background-color: var(--error-0);
		white-space: nowrap;

		&:not(:last-child) {
			border-bottom: 1px solid var(--error-2);
		}

		&:hover .row-error-link {
			padding-left: ue(15);
			background-color: var(--error-1);
		}
	}

	.row-error-description {
		@extend %row-cutoff;
		grid-column: 1/3;
		background-color: var(--error-1);
		padding-top: ue(1);
	}

	.row-error-link {
		@extend %row-cutoff;
		grid-column: 1;
		padding-bottom: ue(1);
		transition: padding-left 0.2s;
		border-right: {
			width: 1px;
			style: solid;
			color: var(--error-0);
		}
	}

	.row-error-button {
		@extend %row-button;
		@include hover(0, false, false, "error");
		grid-column: 2;
		color: var(--error-text);
		border-top: {
			width: 1px;
			style: solid;
			color: var(--error-0);
		}
	}

	.list-bar {
		display: flex;
		gap: ue(6);
		padding: ue(3) ue(9);
		white-space: nowrap;
		background-color: var(--color-1);
		border-top: $border;
	}

	.show-folders .file-folder {
		display: inline;
	}

	.file-folder {
		display: none;
	}

	#info-bar {
		display: flex;
	}

	#collapse {
		@include mask-svg() {
			mask: {
				position: center;
				size: ue(16) ue(16);
				image: $icon-collapse;
			}
		}
		@include hover;

		//padding: ue(3) ue(9);
		width: ue(34);
		flex-shrink: 0;
		cursor: pointer;
	}

	#queue {
		padding: ue(3) ue(6);
		display: flex;
		flex-direction: column;
		gap: ue(3);

		background-color: var(--color-1);
		border-top: $border;
	}

	#queue-stats {
		display: flex;
		white-space: nowrap;
		justify-content: space-evenly;
		min-width: min-content;
		gap: ue(6);
	}

	#show-tab {
		@include mask-svg() {
			mask: {
				position: center;
				size: ue(16) ue(16);
				image: $icon-collapse;
			}
		}
		@include hover;

		position: relative;
		bottom: ue(-20);
		//padding: ue(6) ue(9);
		width: ue(34);
		flex-shrink: 0;
		height: ue(28);
		margin: auto;
		scale: -1;
		border-radius: 0 0 ue(3) ue(3);
		opacity: 0.5;
		box-shadow: $shadow;
		cursor: pointer;
		transition: {
			property: opacity, bottom;
			duration: 0.1s;
			timing-function: ease-out;
		}

		&:hover {
			bottom: ue(-14);
			opacity: 1;
		}
	}
}

#artsaver-info-bar {
	position: fixed;
	bottom: 8px;
	left: 8px;
	width: 350px;
	border-radius: ue(3);
	box-shadow: $shadow;
	min-width: 150px;
	overflow: hidden;
	resize: horizontal;
	z-index: 1001;
	visibility: visible;
	opacity: 1;

	color: var(--text);
	background-color: var(--color-0);

	transition: {
		property: visibility, opacity, bottom;
		duration: 0.2s;
		timing-function: ease-out;
	}

	&.collapsed {
		bottom: 0;
		visibility: hidden;
		opacity: 0;
	}
}

#artsaver-show-tab {
	$size: ue(36);
	position: fixed;
	bottom: 0;
	left: calc(-#{ue(19)} + 8px);

	width: $size * 2;
	height: $size;
	border-radius: $size $size 0 0;
	overflow: hidden;
	opacity: 0;
	z-index: 1002;

	&:hover {
		opacity: 1;
	}
}

#artsaver-test-button {
	position: fixed;
	top: 0;
	left: 0;
}

.artsaver-text-render {
	width: 0;
	height: 0;
	overflow: hidden;
	padding: 0;
	margin: 0;
	opacity: 0;
	white-space: pre-wrap;
}
