.artsaver-bar, .artsaver-progress, .artsaver-error, .artsaver-loading, .artsaver-download, .artsaver-check {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

.artsaver-error, .artsaver-loading, .artsaver-download, .artsaver-check {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0 none;
  background-repeat: no-repeat;
  background-size: var(--as-icon-size) var(--as-icon-size);
  height: var(--as-icon-size);
  width: var(--as-icon-size);
}

.artsaver-bar, .artsaver-progress {
  height: 16px;
}

.artsaver-bar-text, .artsaver-tip {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.artsaver-check[data-color=green] {
  background-image: url("/icons/check_green.svg");
}
.artsaver-check[data-color=yellow] {
  background-image: url("/icons/check_yellow.svg");
}
.artsaver-check:hover, .artsaver-check:active {
  background-image: url("/icons/remove.svg");
}

.artsaver-download {
  background-image: url("/icons/download.svg");
  display: none;
}
:hover > .artsaver-download {
  display: block;
}
.artsaver-download:hover, .artsaver-download:active {
  background-image: url("/icons/download_hover.svg");
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.artsaver-loading {
  animation: rotation 0.5s steps(12, end) infinite;
  background-image: url("/icons/loading.svg");
}
.artsaver-progress + .artsaver-loading {
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.artsaver-error {
  background-image: url("/icons/error.svg");
}
.artsaver-error:hover, .artsaver-error:active {
  background-image: url("/icons/error.svg");
}

.artsaver-tip {
  font-size: 12px;
  line-height: 16px;
  top: 0;
  background-color: #fff;
  border-radius: 3px;
  color: #4d555c;
  position: absolute;
  text-align: center;
  width: auto;
  z-index: 1000;
  overflow: hidden;
  transition: 0.5s ease-in;
  visibility: hidden;
  opacity: 0;
}
.artsaver-tip:hover, .artsaver-tip:active, .artsaver-tip[data-display=show] {
  transition: none;
  visibility: visible;
  opacity: 1;
}
.artsaver-tip table {
  border-collapse: collapse;
  border-spacing: 0;
}
.artsaver-tip table td {
  padding: 2px 6px;
}
.artsaver-tip table td:first-child {
  background-color: #f0f0f0;
}
.artsaver-tip table tr:last-child {
  border-top: 1px solid #e0e0e0;
}

.artsaver-holder {
  position: relative;
  display: table;
  margin: auto;
  border-collapse: collapse;
  text-align: center;
}

.artsaver-progress {
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  background-color: #4d555c;
}

@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -64px 0;
  }
}
.artsaver-bar {
  animation: animate-stripes 1s linear infinite;
  background-color: #006efe;
  background-image: linear-gradient(135deg, #0a84ff 25%, transparent 25%, transparent 50%, #0a84ff 50%, #0a84ff 75%, transparent 75%, transparent);
  background-size: 32px 32px;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
}

.artsaver-bar-text {
  font-size: calc(16px - 4px);
  line-height: 16px;
  padding-left: calc(16px + 3px);
  padding-right: 3px;
  text-align: right;
  white-space: nowrap;
}
