.artsaver-progress, #artsaver-ui {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

#artsaver-ui .switch {
  position: relative;
  width: 2.6666666667em;
  height: 1.5em;
  border-radius: 0.75em;
  transition: background-color 0.2s;
  flex-shrink: 0;
  background-color: var(--color-1);
}
#artsaver-ui .switch:hover {
  background-color: var(--color-2);
}
#artsaver-ui input:checked + .switch {
  background-color: #0a84ff;
}
label:hover #artsaver-ui input:checked + .switch, #artsaver-ui label:hover input:checked + .switch {
  background-color: #2893ff;
}
#artsaver-ui .switch::after {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  left: 0.25em;
  bottom: 0.25em;
  border-radius: 0.5em;
  background-color: var(--color-0);
  transition: left 0.2s;
}
#artsaver-ui input:checked + .switch::after {
  background-color: white;
  left: 1.4166666667em;
}

#artsaver-tip .user-link, #artsaver-ui .row-button, #artsaver-ui .row-error-button, #artsaver-ui #collapse, #artsaver-ui #show-tab {
  position: relative;
}
#artsaver-tip .user-link::after, #artsaver-ui .row-button::after, #artsaver-ui .row-error-button::after, #artsaver-ui #collapse::after, #artsaver-ui #show-tab::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;
  mask-repeat: no-repeat;
  background-color: var(--text);
}

.artsaver-bar, .artsaver-progress, .artsaver-error, .artsaver-loading, .artsaver-download, .artsaver-check {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

.artsaver-error, .artsaver-loading, .artsaver-download, .artsaver-check {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0 none;
  height: var(--as-icon-size);
  width: var(--as-icon-size);
  background-repeat: no-repeat;
  background-size: var(--as-icon-size) var(--as-icon-size);
}

.artsaver-check[data-color=green] {
  background-image: url("/icons/check_green.svg");
}
.artsaver-check[data-color=yellow] {
  background-image: url("/icons/check_yellow.svg");
}
.artsaver-check:hover, .artsaver-check:active {
  background-image: url("/icons/remove.svg");
}

.artsaver-download {
  display: none;
  background-image: url("/icons/download.svg");
}
:hover > .artsaver-download {
  display: block;
}
.artsaver-download:hover, .artsaver-download:active {
  background-image: url("/icons/download_hover.svg");
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.artsaver-loading {
  animation: rotation 0.5s steps(12, end) infinite;
  background-image: url("/icons/loading.svg");
}
.artsaver-progress + .artsaver-loading {
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.artsaver-error {
  background-image: url("/icons/error.svg");
}
.artsaver-error:hover, .artsaver-error:active {
  background-image: url("/icons/error.svg");
}

#artsaver-tip {
  position: absolute;
  top: 0;
  border-radius: 0.25em;
  text-align: center;
  width: auto;
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 1fr auto;
  row-gap: 1px;
  transition: 0.5s ease-in;
  visibility: hidden;
  opacity: 0;
  color: var(--text);
  background-color: var(--color-2);
}
#artsaver-tip:hover, #artsaver-tip:active, #artsaver-tip[data-display=show] {
  transition: none;
  visibility: visible;
  opacity: 1;
}
#artsaver-tip .info-value, #artsaver-tip .info-label {
  padding: 0.0833333333em 0.5em;
}
#artsaver-tip .info-label {
  background-color: var(--color-1);
}
#artsaver-tip .info-value {
  background-color: var(--color-0);
}
#artsaver-tip .id-value {
  grid-column: 2/4;
}
#artsaver-tip .user-link {
  background-color: var(--color-0);
  border: none;
  box-sizing: border-box;
  padding: 0;
  width: 1.5em;
  cursor: pointer;
  color: var(--text);
}
#artsaver-tip .user-link::after {
  mask-position: center;
  mask-size: 1em 1em;
}
#artsaver-tip .user-link:hover {
  background-color: var(--color-1);
}
#artsaver-tip .user-link:active {
  background-color: var(--color-2);
}
#artsaver-tip .user-link.gallery-icon::after {
  mask-image: url("/icons/flat/gallery.svg");
}

.artsaver-holder {
  display: table;
  position: relative;
  margin: auto;
  border-collapse: collapse;
  text-align: center;
}

.artsaver-progress {
  height: 16px;
  border-radius: 0.25em;
  overflow: hidden;
  width: 100%;
  background-color: #373642;
}

@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -64px 0;
  }
}
.artsaver-bar {
  height: 100%;
  animation: animate-stripes 1s linear infinite;
  border-radius: 3px;
  box-sizing: border-box;
  color: white;
  background-color: #0a84ff;
  background-image: linear-gradient(135deg, #2893ff 25%, transparent 25%, transparent 50%, #2893ff 50%, #2893ff 75%, transparent 75%, transparent);
  background-size: 32px 32px;
}

.artsaver-bar-text {
  text-align: right;
  white-space: nowrap;
  line-height: normal;
  padding-left: calc(16px + 0.25em);
  padding-right: 0.25em;
}

.artsaver-screen {
  display: flex;
  position: absolute;
  inset: 0;
  z-index: 9;
  pointer-events: none;
  background-color: gray;
}
.artsaver-screen::after {
  display: block;
  position: relative;
  content: "";
  margin: auto;
  width: 80%;
  height: 80%;
  object-fit: contain;
  max-width: 200px;
  max-height: 200px;
  background-position: center;
  background-image: url("/icons/flat/check_flat.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

#artsaver-ui.artsaver-theme-light {
  --color-0: #ffffff;
  --color-1: #e2e1e7;
  --color-2: #d1d0da;
  --color-3: #c4c3d0;
  --text: black;
  --error-0: #f8d7da;
  --error-1: #f3bcc0;
  --error-2: #eea0a6;
  --error-3: #e9838c;
  --error-text: #530909;
  --warning-0: #f6d690;
  --warning-text: #976700;
}
#artsaver-ui.artsaver-theme-dark {
  --color-0: #1c1b22;
  --color-1: #282731;
  --color-2: #373642;
  --color-3: #413f50;
  --text: white;
  --error-0: #530909;
  --error-1: #6e0c0c;
  --error-2: #890e0e;
  --error-3: #a41111;
  --error-text: #f8d7da;
  --warning-0: #f6d690;
  --warning-text: #976700;
}
@media (prefers-color-scheme: light) {
  #artsaver-ui.artsaver-theme-preferred {
    --color-0: #ffffff;
    --color-1: #e2e1e7;
    --color-2: #d1d0da;
    --color-3: #c4c3d0;
    --text: black;
    --error-0: #f8d7da;
    --error-1: #f3bcc0;
    --error-2: #eea0a6;
    --error-3: #e9838c;
    --error-text: #530909;
    --warning-0: #f6d690;
    --warning-text: #976700;
  }
}
@media (prefers-color-scheme: dark) {
  #artsaver-ui.artsaver-theme-preferred {
    --color-0: #1c1b22;
    --color-1: #282731;
    --color-2: #373642;
    --color-3: #413f50;
    --text: white;
    --error-0: #530909;
    --error-1: #6e0c0c;
    --error-2: #890e0e;
    --error-3: #a41111;
    --error-text: #f8d7da;
    --warning-0: #f6d690;
    --warning-text: #976700;
  }
}
#artsaver-ui :focus-visible {
  outline: none;
}
#artsaver-ui .switch {
  background-color: var(--color-2);
}
#artsaver-ui .switch:hover {
  background-color: var(--color-3);
}
#artsaver-ui .bar-switch {
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
  margin: 0 auto;
}
#artsaver-ui .hide {
  display: none !important;
}
#artsaver-ui .artsaver-progress {
  position: relative;
}
#artsaver-ui .artsaver-bar[style="width: 100%;"] {
  background: #0a84ff;
}
#artsaver-ui .artsaver-bar-text {
  padding-left: 0.25em;
}
#artsaver-ui .badge {
  display: inline;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-weight: 600;
}
#artsaver-ui .badge {
  background-color: var(--color-1);
}
#artsaver-ui .stat-error, #artsaver-ui .stat {
  display: flex;
  gap: 0.75em;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em 0.75em;
  white-space: nowrap;
  flex: 1;
}
#artsaver-ui .stat.stat-button {
  background-color: var(--color-0);
  cursor: pointer;
}
#artsaver-ui .stat.stat-button:hover {
  background-color: var(--color-1);
}
#artsaver-ui .stat.stat-button:hover .badge {
  background-color: var(--color-0);
}
#artsaver-ui .stat.stat-button:active {
  background-color: var(--color-2);
}
#artsaver-ui .stat.stat-button.active {
  background-color: var(--color-1);
}
#artsaver-ui .stat.stat-button.active .badge {
  background-color: var(--color-0);
}
#artsaver-ui .stat.stat-button.active:hover {
  background-color: var(--color-2);
}
#artsaver-ui .stat.stat-button.active:active {
  background-color: var(--color-3);
}
#artsaver-ui .stat-error {
  flex: 0;
  color: var(--error-text);
}
#artsaver-ui .stat-error.stat-button {
  background-color: var(--error-0);
  cursor: pointer;
}
#artsaver-ui .stat-error.stat-button:hover {
  background-color: var(--error-1);
}
#artsaver-ui .stat-error.stat-button:hover .badge {
  background-color: var(--error-0);
}
#artsaver-ui .stat-error.stat-button:active {
  background-color: var(--error-2);
}
#artsaver-ui .stat-error.stat-button.active {
  background-color: var(--error-1);
}
#artsaver-ui .stat-error.stat-button.active .badge {
  background-color: var(--error-0);
}
#artsaver-ui .stat-error.stat-button.active:hover {
  background-color: var(--error-2);
}
#artsaver-ui .stat-error.stat-button.active:active {
  background-color: var(--error-3);
}
#artsaver-ui .stat-error .badge {
  background-color: var(--error-1);
}
#artsaver-ui .list-box {
  border-bottom: 1px solid var(--color-2);
  white-space: nowrap;
}
#artsaver-ui .list {
  max-height: 300px;
  overflow-y: auto;
}
#artsaver-ui .row {
  display: flex;
}
#artsaver-ui .row:hover .row-text {
  padding-left: 1.25em;
  background-color: var(--color-1);
}
#artsaver-ui .row-error-link, #artsaver-ui .row-error-description, #artsaver-ui .row-text {
  padding-left: 0.75em;
  min-width: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
#artsaver-ui .row-text {
  flex: 1;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--color-0);
  padding-top: 0.0833333333em;
  padding-bottom: 0.0833333333em;
  transition: padding-left 0.2s;
}
#artsaver-ui .row-error-button, #artsaver-ui .row-button {
  border: none;
  box-sizing: border-box;
  padding: 0;
  width: 1.6666666667em;
  cursor: pointer;
  font-size: inherit !important;
  font-family: inherit;
}
#artsaver-ui .row-error-button::after, #artsaver-ui .row-button::after {
  mask-position: center;
  mask-size: 1em 1em;
}
#artsaver-ui .link-icon.row-error-button::after, #artsaver-ui .link-icon.row-button::after {
  mask-image: url("/icons/flat/link.svg");
}
#artsaver-ui .folder-icon.row-error-button::after, #artsaver-ui .folder-icon.row-button::after {
  mask-image: url("/icons/flat/folder.svg");
}
#artsaver-ui .home-icon.row-error-button::after, #artsaver-ui .home-icon.row-button::after {
  mask-image: url("/icons/flat/home.svg");
}
#artsaver-ui .gallery-icon.row-error-button::after, #artsaver-ui .gallery-icon.row-button::after {
  mask-image: url("/icons/flat/gallery.svg");
}
#artsaver-ui .row-button {
  background-color: var(--color-0);
  color: var(--text);
  flex-shrink: 0;
}
#artsaver-ui .row-button:hover {
  background-color: var(--color-1);
}
#artsaver-ui .row-button:active {
  background-color: var(--color-2);
}
#artsaver-ui .row-error {
  display: grid;
  grid-template-columns: 1fr 1.6666666667em;
  color: var(--error-text);
  background-color: var(--error-0);
}
#artsaver-ui .row-error:not(:last-child) {
  border-bottom: 1px solid var(--error-2);
}
#artsaver-ui .row-error:hover .row-error-link {
  padding-left: 1.25em;
  background-color: var(--error-1);
}
#artsaver-ui .row-error-description {
  grid-column: 1/3;
  background-color: var(--error-1);
  padding-top: 0.0833333333em;
}
#artsaver-ui .row-error-link {
  grid-column: 1;
  padding-bottom: 0.0833333333em;
  transition: padding-left 0.2s;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--error-0);
}
#artsaver-ui .row-error-button {
  background-color: var(--error-0);
  grid-column: 2;
  color: var(--error-text);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--error-0);
}
#artsaver-ui .row-error-button:hover {
  background-color: var(--error-1);
}
#artsaver-ui .row-error-button:active {
  background-color: var(--error-2);
}
#artsaver-ui .list-bar {
  display: flex;
  gap: 0.5em;
  padding: 0.25em 0.75em;
  background-color: var(--color-1);
  border-top: 1px solid var(--color-2);
}
#artsaver-ui .show-folders .file-folder {
  display: inline;
}
#artsaver-ui .file-folder {
  display: none;
}
#artsaver-ui #info-bar {
  display: flex;
}
#artsaver-ui #collapse {
  background-color: var(--color-0);
  width: 2.8333333333em;
  flex-shrink: 0;
  cursor: pointer;
}
#artsaver-ui #collapse::after {
  mask-position: center;
  mask-size: 1.3333333333em 1.3333333333em;
  mask-image: url("/icons/flat/collapse.svg");
}
#artsaver-ui #collapse:hover {
  background-color: var(--color-1);
}
#artsaver-ui #collapse:active {
  background-color: var(--color-2);
}
#artsaver-ui #queue {
  padding: 0.25em 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  background-color: var(--color-1);
  border-top: 1px solid var(--color-2);
}
#artsaver-ui #queue-stats {
  display: flex;
  white-space: nowrap;
  justify-content: space-evenly;
  min-width: min-content;
  gap: 0.5em;
}
#artsaver-ui #show-tab {
  background-color: var(--color-0);
  position: relative;
  bottom: -1.6666666667em;
  width: 2.8333333333em;
  flex-shrink: 0;
  height: 2.3333333333em;
  margin: auto;
  scale: -1;
  border-radius: 0 0 0.25em 0.25em;
  opacity: 0.5;
  box-shadow: 0px 2px 5px #0000000e;
  cursor: pointer;
  transition-property: opacity, bottom;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}
#artsaver-ui #show-tab::after {
  mask-position: center;
  mask-size: 1.3333333333em 1.3333333333em;
  mask-image: url("/icons/flat/collapse.svg");
}
#artsaver-ui #show-tab:hover {
  background-color: var(--color-1);
}
#artsaver-ui #show-tab:active {
  background-color: var(--color-2);
}
#artsaver-ui #show-tab:hover {
  bottom: -1.1666666667em;
  opacity: 1;
}

#artsaver-info-bar {
  position: fixed;
  bottom: 8px;
  left: 8px;
  width: 350px;
  border-radius: 0.25em;
  box-shadow: 0px 2px 5px #0000000e;
  min-width: 150px;
  overflow: hidden;
  resize: horizontal;
  z-index: 1001;
  visibility: visible;
  opacity: 1;
  color: var(--text);
  background-color: var(--color-0);
  transition-property: visibility, opacity, bottom;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
#artsaver-info-bar.collapsed {
  bottom: 0;
  visibility: hidden;
  opacity: 0;
}

#artsaver-show-tab {
  position: fixed;
  bottom: 0;
  left: calc(-1.5833333333em + 8px);
  width: 6em;
  height: 3em;
  border-radius: 3em 3em 0 0;
  overflow: hidden;
  opacity: 0;
  z-index: 1002;
}
#artsaver-show-tab:hover {
  opacity: 1;
}

#artsaver-test-button {
  position: fixed;
  top: 0;
  left: 0;
}

.artsaver-text-render {
  width: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  opacity: 0;
  white-space: pre-wrap;
}
