// content ui

@use '../base' as b;

:host {
    --hem: 1em;
}

@include b.c-icon-widths(hem);

$height: 16;

.progress {
    isolation: isolate;
    position: absolute;
    inset: {
        block-start: 0;
        inline-start: 0;
    }
    border-radius: b.uhem(3);
    overflow: hidden;
    inline-size: 100%;
    block-size: b.uhem($height);
    background-color: var(--color-progress);

    &::after {
        $stripe-color: rgba(255, 255, 255, 0.15);
        content: '';
        position: absolute;
        inset: 0;
        background: {
            image: linear-gradient(
                135deg,
                $stripe-color 25%,
                transparent 25% 50%,
                $stripe-color 50% 75%,
                transparent 75%
            );
            size: b.uhem($height * 2) b.uhem($height * 2);
        }
        mix-blend-mode: overlay;
        animation: {
            name: animate-stripes;
            duration: 1s;
            timing-function: linear;
            iteration-count: infinite;
        }
    }
}

@keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: b.uhem($height * -2) 0;
    }
}

.progress-bar {
    inline-size: 0;
    block-size: 100%;
    border-radius: b.uhem(3);
    background-color: var(--color-blue-3);
}

.progress-label {
    --color-text: var(--color-progress-text);
    text-align: end;
    white-space: nowrap;
    padding-inline: b.uhem(4);
    position: relative;
    z-index: 1;
}
