html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

.option-checkbox .switch, .single-switch .switch {
  position: relative;
  width: 2.6666666667em;
  height: 1.5em;
  border-radius: 0.75em;
  background-color: #f0f0f0;
  margin-right: 0.5em;
  transition: background-color 0.2s;
  flex-shrink: 0;
}
label:hover .option-checkbox .switch, .option-checkbox label:hover .switch, label:hover .single-switch .switch, .single-switch label:hover .switch {
  background-color: #e0e0e0;
}
.option-checkbox input:checked + .switch, .single-switch input:checked + .switch {
  background-color: #0a84ff;
}
label:hover .option-checkbox input:checked + .switch, .option-checkbox label:hover input:checked + .switch, label:hover .single-switch input:checked + .switch, .single-switch label:hover input:checked + .switch {
  background-color: #249cffff;
}
.option-checkbox .switch::after, .single-switch .switch::after {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  left: 0.25em;
  bottom: 0.25em;
  border-radius: 0.5em;
  background-color: #fff;
  transition: left 0.2s;
}
.option-checkbox input:checked + .switch::after, .single-switch input:checked + .switch::after {
  left: 1.4166666667em;
}

.info-box .icon-button, .info-box a, .info-box .search-box button {
  background-color: white;
  cursor: pointer;
  color: black;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  display: flex;
}
.info-box .icon-button > i, .info-box a > i, .info-box .search-box button > i {
  margin: auto;
}
.info-box .icon-button:hover, .info-box a:hover, .info-box .search-box button:hover {
  background-color: #f0f0f0;
}

.info-box {
  width: 100%;
}
.info-box .search-box {
  padding: 0.1666666667em 0.75em;
  background-color: #f0f0f0;
  display: flex;
}
.info-box .search-box button {
  padding: 0.5em;
}
.info-box .search-clear {
  border: 0.0833333333em solid #e0e0e0;
  border-left: none;
  border-radius: 0;
}
.info-box .search-sort {
  border: 0.0833333333em solid #e0e0e0;
  border-left: none;
  border-radius: 0 0.25em 0.25em 0;
}
.info-box .input-holder {
  flex: 1;
  display: flex;
}
.info-box .input-holder input {
  background-color: white;
  border: 0.0833333333em solid #e0e0e0;
  border-radius: 0.25em 0 0 0.25em;
  padding: 0.25em 0.5em;
  width: 100%;
  outline: none;
  font-size: inherit;
  font-family: inherit;
}
.info-box .input-holder input:focus {
  border-right-style: solid;
  border-right-width: 0.0833333333em;
  border-color: #0a84ff;
}
.info-box .list-box {
  border-top: 0.0833333333em solid #e0e0e0;
  position: relative;
  overflow: auto;
  resize: vertical;
}
.info-box .list {
  position: absolute;
  top: 0;
  width: 100%;
}
.info-box .list > * {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}
.info-box .list > *:hover .row-label {
  background-color: #f0f0f0;
  padding-left: 1.25em;
}
.info-box .link-search {
  font-weight: 700;
}
.info-box .list-row {
  display: flex;
}
.info-box .list-row > * {
  padding-top: 0.0833333333em;
  padding-bottom: 0.0833333333em;
}
.info-box .row-label {
  flex: 1;
  border-right-width: 0.0833333333em;
  border-right-style: solid;
  border-right-color: white;
  padding-left: 0.75em;
  transition: padding-left 0.2s;
}
.info-box a {
  padding-left: 0.3333333333em;
  padding-right: 0.3333333333em;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

#tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom-color: #e0e0e0;
  border-bottom-style: solid;
  border-bottom-width: 0.1666666667em;
}

.tab-button {
  color: black;
  background-color: inherit;
  border: none;
  border-radius: 0;
  outline: none;
  padding: 0.5em 1.5em;
  font-size: 1.3333333333em;
}
.tab-button:hover {
  background-color: #f0f0f0;
}
.tab-button.active {
  color: #0a84ff;
  border-bottom-color: #0a84ff;
  border-bottom-style: solid;
  border-bottom-width: 0.1666666667em;
}

#extension-icon {
  display: flex;
}
#extension-icon > img {
  width: 2.6666666667em;
  height: 2.6666666667em;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

#main-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#options-container {
  display: flex;
  justify-content: center;
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#options {
  max-width: 75rem;
  width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: center;
  padding: 0.5em 0;
}

.info-row td {
  padding: 0;
}

.info-boxes {
  display: flex;
}
.info-boxes > div:first-of-type {
  flex-basis: 60%;
}
.info-boxes > div:last-of-type {
  flex-basis: 40%;
}

th {
  font-size: 1.25em;
  font-weight: 600;
  background-color: #f0f0f0;
  padding: 0.5em 1.5em;
}

.help-table tr {
  border-bottom: 0.0833333333em solid #e0e0e0;
}
.help-table td {
  padding: 0.25em 1.5em;
}

#saved-table {
  margin: 0 auto;
  flex: 1;
  height: min-content;
}
#saved-table tr {
  border-bottom: 0.0833333333em solid #e0e0e0;
}
#saved-table tr > :first-child {
  text-align: left;
}
#saved-table tr > :not(:first-child) {
  text-align: right;
}

.stat-row {
  cursor: pointer;
  white-space: nowrap;
}
.stat-row:hover, .stat-row.active {
  background-color: #f0f0f0;
}
.stat-row:hover .badge, .stat-row.active .badge {
  background-color: white;
}
.stat-row td {
  padding: 0.75em 1.5em;
}

.info-box {
  display: initial;
}
.info-box .input-holder {
  flex: 1;
}
i[class^=icon] {
  margin-right: 0.5em;
}

.badge {
  background-color: #f0f0f0;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  color: black;
  font-weight: 600;
}

button {
  font-family: inherit;
  font-size: inherit;
  padding: 0.5em;
  border: 0;
  border-radius: 0.25em;
  cursor: pointer;
  text-align: center;
}

h3.site-header {
  font-size: 1.25em;
  font-weight: 600;
  padding: 1em;
  margin-top: 0;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  background-color: #f0f0f0;
}

@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2.6666666667em 0;
  }
}
.row-delete {
  display: none;
  background-color: #f8d7da;
  cursor: pointer;
  color: #721c24;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  padding-left: 0.3333333333em;
  padding-right: 0.3333333333em;
  border-radius: 0;
}
.row-delete.deleting {
  animation: animate-stripes 1s linear infinite;
  background-color: #f8d7da;
  background-image: linear-gradient(135deg, #f5c6cb 25%, transparent 25%, transparent 50%, #f5c6cb 50%, #f5c6cb 75%, transparent 75%, transparent);
  background-size: 1.3333333333em 1.3333333333em;
}
.row-delete > i {
  margin: auto;
}
.row-delete:hover:not(.deleting) {
  background-color: #f5c6cb;
}
#saved-table.editable .row-delete {
  display: flex;
}

.hide {
  display: none !important;
}

.question {
  text-decoration: none;
  text-align: center;
  margin-left: 0.5em;
  display: inline-flex;
  width: 1.25em;
  height: 1.25em;
  line-height: 1.25em;
  border-radius: 0.625em;
  color: black;
  background-color: #e0e0e0;
  cursor: help;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
:hover > .question {
  visibility: visible;
  opacity: 1;
}
.question > div {
  margin: auto;
}

[class^=option-] {
  margin: 0.75em 0;
}

.blue-button {
  color: #fff;
  background-color: #0a84ff;
}
.blue-button:hover {
  background-color: #249cffff;
}
.blue-button:active {
  background-color: #2fa1ff;
}

.default-button {
  background-color: #f0f0f0;
}
.default-button:hover {
  background-color: #e0e0e0;
}

.option-textarea label, #saved-info-input > label {
  display: block;
  margin-bottom: 0.25em;
}

#saved-info-input {
  margin: 0.5em 0;
}
.custom-input {
  position: relative;
  overflow: hidden;
}
.custom-input input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}
.custom-input label {
  display: flex;
  overflow: hidden;
  cursor: pointer;
  border: 0.0833333333em solid #e0e0e0;
  border-radius: 0.25em;
}
.custom-input label .before {
  background-color: #f0f0f0;
  padding: 0.4166666667em 1em;
  border-right: 0.0833333333em solid #e0e0e0;
}

#filename {
  flex: 1;
  padding: 0.4166666667em 1em;
}

.option-textarea textarea {
  font-size: inherit;
  width: 100%;
  padding: 0.5em;
  border: 0.0833333333em solid #e0e0e0;
  border-radius: 0.25em;
  box-sizing: border-box;
  margin-bottom: 0;
  resize: vertical;
  overflow-x: hidden;
  outline: none;
  -moz-tab-size: 2;
  tab-size: 2;
}
.option-textarea textarea:focus {
  border-color: #0a84ff;
}

.help-button {
  width: 6.5em;
}

.option-checkbox, .single-switch {
  display: table;
}
.option-checkbox input, .single-switch input {
  display: none;
}
.option-checkbox label, .single-switch label {
  display: flex;
  cursor: pointer;
}
.option-select {
  display: flex;
  align-items: center;
}
.option-select select {
  margin-left: 0.5em;
  font-family: inherit;
  font-size: inherit;
  padding: 0.25em 1.5em 0.25em 0.25em;
  border: 0.0833333333em solid #e0e0e0;
  border-radius: 0.25em;
  -moz-appearance: none;
  appearance: none;
  background-image: url("/icons/selection.svg");
  background-repeat: no-repeat;
  background-position-x: right 0.5em;
  background-position-y: center;
  background-size: 0.6666666667em 1em;
  cursor: pointer;
}

.option-number {
  display: flex;
  align-items: center;
  margin: 0.25em 0;
  white-space: nowrap;
}
.option-number .custom-number {
  display: inline-flex;
}
.option-number .custom-number input {
  width: 3em;
  font-family: inherit;
  font-size: inherit;
  border: 0.0833333333em solid #e0e0e0;
  border-radius: 0.25em 0 0 0.25em;
  text-align: right;
  padding: 0.25em 0.5em 0.25em 0.25em;
  box-sizing: border-box;
  outline: none;
  -moz-appearance: textfield;
  appearance: textfield;
}
.option-number .custom-number input:focus {
  border-color: #0a84ff;
}
.option-number .number-buttons {
  display: flex;
  flex-direction: column;
}
.option-number .number-buttons button {
  height: 50%;
  width: 1.25em;
  padding: 0;
  background-color: #f0f0f0;
  background-image: url("/icons/selection.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 0.6666666667em 1em;
}
.option-number .number-buttons button:hover {
  background-color: #e0e0e0;
}
.option-number .number-buttons button.increase {
  border-radius: 0 0.25em 0 0;
  background-position-y: 0.45rem;
}
.option-number .number-buttons button.decrease {
  border-radius: 0 0 0.25em 0;
  background-position-y: -0.45rem;
}

.option-slider {
  display: flex;
}
.option-slider .option-number {
  margin: 0;
}

.option-range {
  margin: auto 0.25em;
}
.option-range input {
  -webkit-appearance: none;
  background: #e0e0e0;
  height: 0.25em;
  border-radius: 0.125em;
}
.option-range input::-moz-range-thumb {
  cursor: pointer;
  height: 1em;
  width: 1em;
  border-radius: 0.5em;
  background-color: #0a84ff;
  border: none;
}
.option-range input::-moz-range-thumb:hover {
  background-color: #249cffff;
}

#info-table {
  display: flex;
}

#table-side {
  display: flex;
  flex-direction: column;
  margin-right: 0.5em;
  padding-top: 2.0833333333em;
  width: 10.3333333333em;
}
#table-side > * {
  margin: 0.25em 0;
}

#settings-buttons {
  text-align: center;
  margin: 0.5em 0;
  display: flex;
  justify-content: center;
}
#settings-buttons > button {
  margin: 0 0.1666666667em;
  width: 12em;
}

#import-options {
  width: 0;
  overflow: hidden;
}

.undo-bar {
  display: flex;
  width: max-content;
  background-color: #fff3cd;
  color: #856404;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 1em;
  margin: 0.5em auto;
}

.undo-button {
  width: 2.5em;
  margin-left: 2em;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}
.undo-button:hover, .undo-button:active {
  font-weight: bold;
  color: #856404;
}

.close-button {
  margin-left: 2em;
  display: flex;
  cursor: pointer;
}
.close-button > i {
  margin: auto;
}

#sites-options {
  display: flex;
}

#sites-side {
  display: flex;
  flex-direction: column;
  margin-right: 0.5em;
  width: 10.3333333333em;
}
#sites-side > * {
  margin-top: 0.5em;
}

#sites-list {
  flex: 1;
}

#sites-toggles {
  display: flex;
  flex-direction: column;
}

.site-toggle {
  display: flex;
  border-top: 0.0833333333em solid #e0e0e0;
}
.site-toggle:hover, .site-toggle.active {
  background-color: #f0f0f0;
}
.site-toggle:last-of-type {
  border-bottom: 0.0833333333em solid #e0e0e0;
}

.site-radio {
  background-color: #0000;
}
.site-radio > div {
  background-color: white;
  width: 1.3333333333em;
  height: 1.3333333333em;
  border-radius: 1.3333333333em;
  border: 0.0833333333em solid #e0e0e0;
}
.site-radio:hover > div, .site-radio.active > div {
  background-color: #e0e0e0;
}

.site-button {
  background-color: #0000;
  border-radius: 0;
  flex: 1;
}

#about-info {
  margin: auto;
  width: min-content;
  white-space: nowrap;
  font-size: 1.25em;
}

.about-link {
  color: #0a84ff;
  text-decoration: none;
}
