@charset "UTF-8";
body {
  display: grid;
  align-content: start;
  height: 100vh;
  overflow: hidden;
}

.header {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  border-block-end-width: 2px;
  border-block-end-color: var(--color-3);
  border-block-end-style: solid;
}

.main {
  overflow-x: hidden;
  overflow-y: scroll;
  padding-inline: 0.5rem;
}

.tabs {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
}

.extension-icon {
  inline-size: 2.6666666667rem;
  aspect-ratio: 1;
  margin-inline: 0.5rem;
  align-self: center;
}

.tab-button {
  cursor: pointer;
  font-size: 1.3333333333rem;
  border: none;
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
}
.tab-button:hover, .tab-button.active {
  border-block-end-width: 2px;
  border-block-end-style: solid;
}
.tab-button:hover {
  border-block-end-color: var(--color-4);
}
.tab-button.active {
  --color-text: var(--color-blue-3);
  border-block-end-color: var(--color-blue-3);
}

.tab-content {
  margin-block-end: 0.5rem;
  margin-inline: auto;
  max-inline-size: 78rem;
}

.side-grid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 10.3333333333rem 1fr;
  align-content: start;
  align-items: start;
}

.side-controls {
  position: sticky;
  inset-block-start: 0.5rem;
  display: grid;
  gap: 0.5rem;
  margin-block: 0.5rem;
}

.globals-list {
  display: grid;
  gap: 3rem;
}

.sites-toggles {
  border-block-end-width: 1px;
  border-block-end-style: solid;
  border-block-end-color: var(--color-3);
  display: grid;
  grid-template-columns: auto 1fr;
}

.site-toggle {
  display: grid;
  grid-column: span 2;
  grid-template-columns: subgrid;
  border-block-start-width: 1px;
  border-block-start-style: solid;
  border-block-start-color: var(--color-3);
}

.site-radio {
  background-color: inherit;
  padding: 0.5rem;
  border: none;
}
.site-radio::after {
  content: "";
  display: block;
  inline-size: 1.3333333333rem;
  aspect-ratio: 1;
  background-color: var(--color-1);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-4);
  border-radius: 0.6666666667rem;
}
.site-radio.active::after {
  border: none;
  background-color: var(--color-blue-3);
}
.site-radio:hover::after {
  border: none;
  background-color: var(--color-blue-2);
}

.site-button {
  background-color: inherit;
  padding: 0.5rem;
  border: none;
}

.sites-list {
  display: grid;
  gap: 3rem;
}

.saved-content {
  margin-block: 0.5rem;
}

.import-info-buttons {
  display: grid;
  grid-column: span 2;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.file-selector {
  display: grid;
  gap: 0.25rem;
}

.file-input {
  grid-row: 2;
  grid-column: 1;
  inset: 0;
  inline-size: 100%;
  border-radius: 0.25rem;
  z-index: -1;
}

.file-label {
  cursor: pointer;
  display: grid;
  grid-row: 2;
  grid-column: 1;
  grid-template-columns: auto 1fr;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-3);
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: var(--color-1);
}

.file-before {
  background-color: var(--color-2);
  padding-block: 0.4166666667rem;
  padding-inline: 1rem;
  border-inline-end-width: 1px;
  border-inline-end-style: solid;
  border-inline-end-color: var(--color-3);
}

.file-name {
  display: inline grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 0.5rem;
  padding-block: 0.4166666667rem;
  padding-inline: 1rem;
}

.table-caption {
  grid-column: 2;
  text-align: center;
}

.search-table {
  padding-inline: 0.75rem;
  display: grid;
  grid-column: 2;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
}

.table-controls {
  margin-block-start: 0;
  grid-row: 4;
}

.saved-table {
  display: grid;
  grid-template-columns: auto auto 1fr 1fr;
  border-block-end-width: 1px;
  border-block-end-style: solid;
  border-block-end-color: var(--color-3);
}

.table-head {
  display: grid;
  grid-column: span 4;
  grid-template-columns: subgrid;
  gap: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: var(--color-2);
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
}

.table-head-site {
  grid-column: span 2;
}

.table-users {
  justify-self: end;
  margin-inline-end: 0.5rem;
}

.table-submissions {
  justify-self: end;
}

.table-summary {
  display: grid;
  grid-column: span 4;
  grid-template-columns: subgrid;
  gap: 0.5rem;
  padding-block: 0.25rem;
  padding-inline: 0.75rem;
  white-space: nowrap;
  align-items: center;
  text-align: start;
  border-block-start-width: 1px;
  border-block-start-style: solid;
  border-block-start-color: var(--color-3);
}
.table-summary::before {
  content: "▶";
  font-size: 0.8333333333rem;
  inline-size: 1.5ch;
}
[open] .table-summary::before {
  content: "▼";
}

.stat-value {
  font-family: monospace;
  border-radius: 0.25rem;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  background-color: var(--color-2);
}

.table-details {
  display: contents;
}
.table-details[open]::details-content {
  display: contents;
}

.search-users {
  grid-column: span 3;
}

.search-submissions {
  border-inline-start-width: 1px;
  border-inline-start-style: solid;
  border-inline-start-color: var(--color-3);
}

@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2.6666666667rem 0;
  }
}
.row-delete {
  border: none;
  padding-inline: 0.25rem;
}
.row-delete.deleting {
  animation: animate-stripes 1s linear infinite;
  background-color: var(--color-1);
  background-image: linear-gradient(135deg, var(--color-2) 25%, transparent 25% 50%, var(--color-2) 50% 75%, transparent 75%);
  background-size: 1.3333333333rem 1.3333333333rem;
}
.saved-table:not(.editable) .row-delete {
  display: none;
}

.about-info {
  display: grid;
  justify-items: center;
  gap: 1.5rem;
  padding: 1rem;
}

.about-title {
  font-size: 2rem;
  font-weight: bold;
}

.about-section {
  display: grid;
  gap: 0.5rem;
}

.about-list {
  margin-inline: auto;
  display: grid;
  gap: 0.5rem;
}

.about-link {
  --color-text: var(--color-blue-3);
  text-decoration: none;
}

.about-version {
  font-family: monospace;
  font-size: 1.25rem;
  font-weight: bold;
}

.site-options {
  display: grid;
  gap: 0.75rem;
}

.site-header {
  font-size: 1.25rem;
  font-weight: bold;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  gap: 0.75rem;
  padding-block: 1rem;
  padding-inline: 1.5rem;
  background-color: var(--color-2);
}

.help-link {
  cursor: help;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.25rem;
  inline-size: 1.25rem;
  aspect-ratio: 1;
  background-color: var(--color-3);
  border-radius: 0.625rem;
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;
}
:hover > .help-link {
  opacity: 1;
  visibility: visible;
}

.option-shortcut, .option-number, .option-slider, .option-select, .option-checkbox, .option-textarea {
  margin-inline: 1.5rem;
}

.shortcut-label, .select-label, .checkbox-label {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 0.5rem;
  inline-size: fit-content;
  white-space: nowrap;
}

.textarea-label {
  display: block;
  inline-size: fit-content;
  margin-block-end: 0.25rem;
}

.textarea-input {
  display: block;
  inline-size: 100%;
  font-family: monospace;
  background-color: inherit;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-3);
  border-radius: 0.25rem;
  border-end-start-radius: 0;
  overflow-x: hidden;
  padding: 0.5rem;
  resize: block;
  tab-size: 4;
}

.metas-summary {
  --color-initial: var(--color-2);
  --color-hover: var(--color-3);
  --color-active: var(--color-4);
  background-color: var(--color-2);
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  white-space: nowrap;
  align-items: center;
  inline-size: fit-content;
}
.metas-summary::before {
  content: "▶";
  font-size: 0.8333333333rem;
  inline-size: 1.5ch;
}
[open] .metas-summary::before {
  content: "▼";
}

.metas-help {
  --color-text: var(--color-blue-3);
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  text-decoration: underline;
  display: block;
  inline-size: fit-content;
}

.metas-table {
  border-collapse: collapse;
}
.metas-table tr {
  border-block-width: 1px;
  border-inline-width: 0;
  border-style: solid;
  border-color: var(--color-3);
}
.metas-table tr:hover {
  background-color: var(--color-2);
}

.meta-name {
  padding-inline: 0.5rem;
}

.meta-copy {
  border: none;
  padding: 0.25rem;
}

.meta-description {
  padding-inline: 1.5rem;
}

.checkbox-label {
  cursor: pointer;
  position: relative;
}

.checkbox-input {
  appearance: none;
  position: absolute;
  inline-size: 2.6666666667rem;
  block-size: 1.5rem;
  border-radius: 0.75rem;
}

.switch {
  position: relative;
  transition-property: background-color;
  transition-duration: 0.2s;
  background-color: var(--color-2);
  inline-size: 2.6666666667rem;
  block-size: 1.5rem;
  border-radius: 0.75rem;
}
.switch:hover {
  background-color: var(--color-3);
}
input:checked + .switch {
  background-color: var(--color-blue-3);
}
label:hover input:checked + .switch {
  background-color: var(--color-blue-2);
}
.switch::after {
  content: "";
  position: absolute;
  background-color: var(--color-1);
  transition-property: inset-inline-start;
  transition-duration: 0.2s;
  inline-size: 1rem;
  aspect-ratio: 1;
  inset-inline-start: 0.25rem;
  inset-block-end: 0.25rem;
  border-radius: 0.5rem;
}
input:checked + .switch::after {
  background-color: white;
  inset-inline-start: 1.4166666667rem;
}

.select-input {
  cursor: pointer;
  inline-size: fit-content;
  background-color: var(--color-1);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-3);
  border-radius: 0.25rem;
  padding-block: 0.25rem;
  padding-inline-start: 0.5rem;
}

.option-slider {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 0.5rem;
  justify-content: start;
}

.slider-input {
  block-size: 0.25rem;
  appearance: none;
  background-color: var(--color-5);
  border-radius: 0.125rem;
}
.slider-input::-moz-range-thumb {
  cursor: pointer;
  inline-size: 1rem;
  aspect-ratio: 1;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color-blue-3);
}
.slider-input::-moz-range-thumb:hover {
  background-color: var(--color-blue-2);
}
.slider-input::-moz-range-thumb:active {
  background-color: var(--color-blue-4);
}

.option-number {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 0.5rem;
  justify-content: start;
}

.number-controls {
  display: inline grid;
  grid: "n i" auto "n d" auto/5ch auto;
}

.number-input {
  font-family: monospace;
  grid-area: n;
  appearance: textfield;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  text-align: end;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-3);
  border-start-start-radius: 0.25rem;
  border-end-start-radius: 0.25rem;
  background-color: inherit;
}

.number-unit {
  margin-inline-start: -0.25rem;
}

.number-step {
  display: flex;
  justify-content: center;
  padding-block: 0.1666666667rem;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-3);
}
.number-step::after {
  content: "";
  inline-size: 1rem;
  block-size: 0.3333333333rem;
  mask-image: var(--icon-12-selection);
  mask-size: cover;
  background-color: var(--color-text);
}

.step-increase {
  grid-area: i;
  border-start-end-radius: 0.25rem;
}
.step-increase::after {
  mask-position: top;
  align-self: end;
}

.step-decrease {
  grid-area: d;
  border-end-end-radius: 0.25rem;
}
.step-decrease::after {
  mask-position: bottom;
  align-self: start;
}

.shortcut-input {
  font-family: monospace;
  background-color: inherit;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-3);
  border-radius: 0.25rem;
  padding-block: 0.25rem;
  padding-inline-start: 0.5rem;
}

.shortcut-delete {
  display: flex;
  justify-content: center;
  padding: 0.1666666667rem;
  background-color: inherit;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-3);
  border-radius: 0.75rem;
}

.shortcut-error {
  background-color: var(--color-1);
  padding-block: 0.25rem;
  padding-inline-start: 0.5rem;
}

.undo-bar {
  display: flex;
  position: fixed;
  inset-block-end: 1.25rem;
  inset-inline-start: 0.75rem;
  align-items: center;
  background-color: var(--color-1);
  gap: 2rem;
  justify-content: center;
  padding-block: 0.25rem;
  padding-inline: 1rem;
}

.undo-button {
  --color-initial: var(--color-2);
  --color-hover: var(--color-3);
  --color-active: var(--color-3);
  font-weight: bold;
  padding-block: 0.25rem;
  padding-inline: 1rem;
  border: none;
  border-radius: 0.25rem;
}

.undo-close {
  --color-initial: var(--color-1);
  --color-hover: var(--color-2);
  --color-active: var(--color-2);
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
}

.undo-timer {
  background-color: var(--color-3);
  position: absolute;
  block-size: 0.25rem;
  inset-block-end: 0;
  inset-inline-start: 0;
  inline-size: 100%;
}

.blue-button, .base-button {
  border: none;
  border-radius: 0.25rem;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
}

.base-button {
  --color-initial: var(--color-2);
  --color-hover: var(--color-3);
  --color-active: var(--color-4);
}

.blue-button {
  --color-text: white;
  --color-initial: var(--color-blue-3);
  --color-hover: var(--color-blue-2);
  --color-active: var(--color-blue-4);
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
}
