@use "sass:math";
@use "../css/template" as *;

html {
	@extend %font;
}

body {
	margin: 0;
	height: 100vh;
	overflow: hidden;

	@include base-themed() {
		color: t($text);
		background-color: t($color-0);
	}
}

#tabs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-bottom: {
		style: solid;
		width: u(2);
	}

	@include themed() {
		border-color: t($color-2);
	}
}

.tab-button {
	color: inherit;
	background-color: inherit;
	border: none;
	border-radius: 0;
	outline: none;
	padding: $vert-pad $horz-pad * 2;
	font-size: u(16);

	&:hover {
		@include themed() {
			background-color: t($color-1);
		}
	}

	&.active {
		color: $blue;
		border-bottom: {
			color: $blue;
			style: solid;
			width: u(2);
		}
	}
}

#extension-icon {
	display: flex;

	> img {
		width: u(32);
		height: u(32);
		margin: {
			top: auto;
			bottom: auto;
			right: u(6);
			left: u(6);
		}
	}
}

#main-container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#options-container {
	display: flex;
	justify-content: center;
	flex: 1;
	overflow: {
		y: scroll;
		x: hidden;
	}
	padding: {
		left: u(6);
		right: u(6);
	}
}

#options {
	max-width: 75rem;
	width: 100%;
}

table {
	border: {
		collapse: collapse;
		spacing: 0;
	}
}

caption {
	text-align: center;
	padding: u(6) 0;
}

.info-row {
	td {
		padding: 0;
	}
}

.info-boxes {
	display: flex;

	> div {
		&:first-of-type {
			flex-basis: 60%;
		}
		&:last-of-type {
			flex-basis: 40%;
		}
	}
}

th {
	font: {
		size: u(15);
		weight: 600;
	}
	padding: u(6) u(18);

	@include themed() {
		background-color: t($color-1);
	}
}

.help-table {
	tr {
		@include themed() {
			border-bottom: t($border);
		}
	}

	td {
		padding: u(3) u(18);
	}
}

#saved-table-caption {
	grid-column: 2;
	grid-row: 2;
	text-align: center;
}

#saved-table {
	margin: 0 auto;
	height: min-content;
	width: 100%;

	grid-column: 2;
	grid-row: 3;

	tr {
		> :first-child {
			text-align: left;
		}

		> :not(:first-child) {
			text-align: right;
		}

		@include themed() {
			border-bottom: t($border);
		}
	}
}

.stat-row {
	cursor: pointer;
	white-space: nowrap;

	&:hover {
		@include themed() {
			background-color: t($color-1);
		}

		.badge {
			@include themed() {
				background-color: t($color-0);
			}
		}
	}

	&:active {
		@include themed() {
			background-color: t($color-2);
		}
	}

	&.active {
		@include themed() {
			background-color: t($color-1);
		}

		.badge {
			@include themed() {
				background-color: t($color-0);
			}
		}

		&:hover {
			@include themed() {
				background-color: t($color-2);
			}
		}

		&:active {
			@include themed() {
				background-color: t($color-3);
			}
		}
	}

	td {
		padding: u(9) u(18);
	}
}

.info-box {
	@extend %info-box;
	display: initial;
	.input-holder {
		flex: 1;
	}

	.icon-button {
		@extend %icon-button;
	}
}

.badge {
	border-radius: $radius;
	padding: u(3) u(6);
	font-weight: 600;
	color: inherit;

	@include themed() {
		background-color: t($color-1);
	}
}

button {
	font: {
		family: inherit;
		size: inherit;
	}
	padding: u(6);
	border: 0;
	border-radius: $radius;
	cursor: pointer;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	gap: u(6);
	color: inherit;
}

h3.site-header {
	font: {
		size: u(15);
		weight: 600;
	}
	padding: u(12);
	margin: {
		top: 0;
		bottom: u(6);
		left: 0;
		right: 0;
	}

	@include themed() {
		background-color: t($color-1);
	}
}

@keyframes animate-stripes {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: (u(16) * -2) 0;
	}
}

.row-delete {
	display: none;
	background-color: $color-error-1;
	cursor: pointer;
	color: $color-error-text;
	font-size: 1rem;
	text: {
		align: center;
		decoration: none;
	}
	padding: {
		left: u(4);
		right: u(4);
	}
	border-radius: 0;

	&.deleting {
		animation: animate-stripes 1s linear infinite;
		background: {
			color: $color-error-1;
			image: linear-gradient(
				135deg,
				$color-error-2 25%,
				transparent 25%,
				transparent 50%,
				$color-error-2 50%,
				$color-error-2 75%,
				transparent 75%,
				transparent
			);
			size: u(16) u(16);
		}
	}

	&:hover:not(.deleting) {
		background-color: $color-error-2;
	}

	#saved-table.editable & {
		display: flex;
	}
}

.hide {
	display: none !important;
}

.question {
	$diameter: u(15);

	text: {
		decoration: none;
		align: center;
	}
	margin-left: u(6);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: $diameter;
	height: $diameter;
	line-height: $diameter;
	border-radius: math.div($diameter, 2);
	visibility: hidden;
	opacity: 0;
	transition: 0.3s;
	color: inherit;
	cursor: help;

	@include themed() {
		background-color: t($color-2);
	}

	:hover > & {
		visibility: visible;
		opacity: 1;
	}
}

[class^="option-"] {
	margin: u(9);
}

.blue-button {
	color: #fff;
	background-color: $blue;

	&:hover {
		background-color: $blue-light-1;
	}

	&:active {
		background-color: $blue-light-2;
	}
}

.default-button {
	@include themed() {
		background-color: t($color-1);
	}

	&:hover {
		@include themed() {
			background-color: t($color-2);
		}
	}

	&:active {
		@include themed() {
			background-color: t($color-3);
		}
	}
}

%optionlabel {
	display: block;
	margin-bottom: u(3);
	width: min-content;
	white-space: nowrap;
}

#saved-info-input {
	grid-column: 1 / 3;

	> label {
		@extend %optionlabel;
	}
}

.custom-input {
	position: relative;
	overflow: hidden;

	input {
		width: 0;
		height: 0;
		opacity: 0;
		position: absolute;
	}

	label {
		display: flex;
		overflow: hidden;
		cursor: pointer;
		border-radius: $radius;

		@include themed() {
			border: t($border);
		}
	}

	.before {
		padding: u(5) u(12);

		@include themed() {
			border-right: t($border);
			background-color: t($color-1);
		}
	}
}

#filename {
	flex: 1;
	padding: u(5) u(12);
	display: flex;
	align-items: center;
	gap: u(6);
}

.option-textarea {
	label {
		@extend %optionlabel;
	}

	textarea {
		font-size: inherit;
		width: 100%;
		padding: u(6);
		border: {
			top: {
				left-radius: $radius;
				right-radius: $radius;
			}
			bottom: {
				left-radius: 0;
				right-radius: $radius;
			}
		}
		box-sizing: border-box;
		margin-bottom: 0;
		resize: vertical;
		overflow-x: hidden;
		outline: none;
		color: inherit;
		background-color: inherit;
		tab-size: 4;

		@include themed() {
			border: t($border);
		}

		&:focus {
			border-color: $blue;
		}
	}
}

.help-button {
	width: u(78);
	padding: {
		top: u(3);
		bottom: u(3);
	}
	border: {
		top: {
			left-radius: 0;
			right-radius: 0;
		}
	}
}

.option-checkbox,
.single-switch {
	display: flex;

	input {
		display: none;
	}

	label {
		display: flex;
		align-items: center;
		gap: u(6);
		cursor: pointer;
	}

	.switch {
		@extend %switch;
	}
}

.option-select {
	display: flex;
	align-items: center;
	gap: u(6);

	select {
		font: {
			family: inherit;
			size: inherit;
		}
		padding: u(3) u(18) u(3) u(3);
		border-radius: $radius;
		color: inherit;
		-moz-appearance: none;
		appearance: none;
		cursor: pointer;

		@include themed() {
			border: t($border);
			background-color: t($color-0);
		}

		&:focus {
			border-color: $blue;
		}
	}

	.select-holder {
		@include mask-svg() {
			mask: {
				image: $icon-selection;
				position: {
					x: right u(6);
					y: center;
				}
				size: u(8) u(12);
			}
		}
	}
}

.option-number,
.option-slider {
	white-space: nowrap;
	display: flex;
	align-items: center;
	gap: u(6);

	label {
		display: flex;
		align-items: center;
		gap: u(6);
	}
}

.custom-number {
	display: inline-grid;
	grid-template-columns: u(36) u(15);

	input {
		grid: {
			column: 1;
			row: 1/3;
		}
		font: {
			family: inherit;
			size: inherit;
		}
		border-radius: $radius 0 0 $radius;
		text-align: right;
		padding: u(3) u(6) u(3) u(3);
		box-sizing: border-box;
		outline: none;
		color: inherit;
		background-color: inherit;

		-moz-appearance: textfield;
		appearance: textfield;

		@include themed() {
			border: t($border);
		}

		&:focus {
			border-color: $blue;
		}
	}

	button {
		padding: 0;

		@include themed() {
			background-color: t($color-1);
		}

		@include mask-svg() {
			mask: {
				image: $icon-selection;
				position-x: center;
				size: u(8) u(12);
			}
		}

		&:hover {
			@include themed() {
				background-color: t($color-2);
			}
		}

		&:active {
			@include themed() {
				background-color: t($color-3);
			}
		}

		&.increase {
			grid: {
				column: 2;
				row: 1;
			}
			border-radius: 0 $radius 0 0;

			&::after {
				mask: {
					position-y: 0.45rem;
				}
			}
		}

		&.decrease {
			grid: {
				column: 2;
				row: 2;
			}
			border-radius: 0 0 $radius 0;

			&::after {
				mask: {
					position-y: -0.45rem;
				}
			}
		}
	}
}

input.slider {
	$bar-height: u(3);
	-webkit-appearance: none;
	height: $bar-height;
	border-radius: $bar-height;

	@include themed() {
		background-color: t($color-2);
	}

	&::-moz-range-thumb {
		cursor: pointer;
		height: u(12);
		width: u(12);
		border-radius: u(12);
		background-color: $blue;
		border: none;

		&:hover {
			background-color: $blue-light-1;
		}

		&:active {
			background-color: $blue-light-2;
		}
	}
}

#saved-info-content {
	margin-top: u(6);
	display: grid;
	grid-template-columns: u(124) 1fr;
	gap: u(6);
}

#table-side {
	display: flex;
	flex-direction: column;
	gap: u(6);
	grid: {
		column: 1;
		row: 3;
	}
	height: min-content;
	position: sticky;
	top: u(6);
}

#global-options-content {
	display: grid;
	grid-template-columns: u(124) 1fr;
	gap: u(6);
}

#global-options {
	grid-column: 2;
}

#settings-buttons {
	display: flex;
	flex-direction: column;
	gap: u(6);
	position: sticky;
	height: min-content;
	top: 0;

	grid-column: 1;
}

#import-options {
	height: 0;
	overflow: hidden;
}

.undo-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: u(24);
	background-color: #fff3cd;
	color: #856404;
	padding: {
		top: u(6);
		bottom: u(6);
		left: u(24);
		right: u(12);
	}
	position: fixed;
	bottom: u(15);
	left: u(9);
}

.undo-button {
	width: u(30);
	text: {
		decoration: underline;
		align: center;
	}
	cursor: pointer;

	&:hover,
	&:active {
		font-weight: bold;
		color: #856404;
	}
}

.close-button {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#site-options-content {
	display: grid;
	grid-template-columns: u(124) 1fr;
	gap: u(6);
}

#sites-side {
	display: flex;
	flex-direction: column;
	gap: u(6);
	position: sticky;
	height: min-content;
	top: u(6);

	grid-column: 1;

	&:first-child {
		margin-top: u(6);
	}
}

#sites-list {
	flex: 1;

	grid-column: 2;
}

#sites-toggles {
	display: flex;
	flex-direction: column;
	gap: u(1);
	padding: {
		top: u(1);
		bottom: u(1);
	}

	@include themed() {
		background-color: t($color-2);
	}
}

.site-toggle {
	display: flex;

	@include themed() {
		background-color: t($color-0);
	}

	&:hover {
		@include themed() {
			background-color: t($color-1);
		}
	}
	&:active {
		@include themed() {
			background-color: t($color-2);
		}
	}

	&.active {
		@include themed() {
			background-color: t($color-1);
		}
		&:hover {
			@include themed() {
				background-color: t($color-2);
			}
		}
		&:active {
			@include themed() {
				background-color: t($color-3);
			}
		}
	}
}

.site-radio {
	background-color: inherit;

	&::after {
		content: "";
		width: u(16);
		height: u(16);
		border-radius: u(16);

		@include themed() {
			border: t($border);
			background-color: t($color-0);
		}
	}

	&:hover,
	&.active {
		&::after {
			@include themed() {
				background-color: t($color-2);
			}
		}
	}
}

.site-button {
	border-radius: 0;
	flex: 1;
	background-color: inherit;
}

#about-info {
	margin: auto;
	width: min-content;
	white-space: nowrap;
	font-size: u(15);
}

.about-link {
	color: $blue;
	text-decoration: none;
}
