@use "sass:math";
@use "../css/template" as *;

html {
	@extend %font;
}

body {
	@include themes;
	height: 100vh;
	background-color: var(--color-0);
	color: var(--text);
	margin: 0;
	overflow: hidden;
}

:focus-visible {
	position: relative;
	z-index: 1;
}

.hide {
	display: none !important;
}

#tabs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-bottom: {
		width: 2px;
		color: var(--color-2);
		style: solid;
	}
}

.tab-button {
	background-color: inherit;
	border: none;
	border-radius: 0;
	color: inherit;
	font: {
		family: inherit;
		size: ur(16);
	}
	outline: none;
	padding: ur(6) ur(18);

	&:hover {
		background-color: var(--color-1);
		border-bottom: {
			width: ur(2);
			color: var(--color-3);
			style: solid;
		}
	}

	&.active {
		color: $blue-0;
		border-bottom: {
			width: ur(2);
			color: $blue-0;
			style: solid;
		}
	}
}

#extension-icon {
	display: block;
	width: ur(32);
	height: ur(32);
	margin: {
		top: auto;
		bottom: auto;
		left: ur(6);
		right: ur(6);
	}
}

#main-container {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	margin: 0 auto;
}

#options-container {
	display: flex;
	flex: 1;
	justify-content: center;
	overflow: {
		x: hidden;
		y: scroll;
	}
	padding: {
		left: ur(6);
		right: ur(6);
	}
}

#options {
	width: 100%;
	max-width: 75rem;
}

%button {
	display: flex;
	align-items: center;
	border: 0;
	border-radius: $radius;
	color: inherit;
	cursor: pointer;
	flex-wrap: nowrap;
	gap: ur(6);
	justify-content: center;
	padding: ur(6);
	font: {
		family: inherit;
		size: inherit;
	}
}

.site-header {
	background-color: var(--color-1);
	padding: ur(12) ur(18);
	font: {
		size: ur(15);
		weight: 600;
	}
	margin: 0;
}

.question {
	$diameter: ur(15);
	display: inline-flex;
	width: $diameter;
	height: $diameter;
	align-items: center;
	background-color: var(--color-2);
	border-radius: math.div($diameter, 2);
	color: inherit;
	cursor: help;
	justify-content: center;
	line-height: $diameter;
	margin-left: ur(6);
	opacity: 0;
	transition: 0.3s;
	visibility: hidden;

	text: {
		align: center;
		decoration: none;
	}

	:hover > & {
		opacity: 1;
		visibility: visible;
	}
}

#saved-table-caption {
	grid-column: 2;
	grid-row: 2;
	text-align: center;
}

#saved-table {
	border-collapse: collapse;
	width: 100%;
	height: min-content;

	grid-column: 2;
	grid-row: 3;
	margin: 0 auto;

	th {
		background-color: var(--color-1);
		padding: ur(6) ur(18);
		font: {
			size: ur(15);
			weight: 600;
		}
	}

	tr {
		border-bottom: $border;

		> :first-child {
			text-align: left;
		}

		> :not(:first-child) {
			text-align: right;
		}
	}
}

.stat-row {
	@include hover(0, true, true);
	cursor: pointer;
	white-space: nowrap;

	td {
		padding: ur(9) ur(18);
	}
}

.badge {
	background-color: var(--color-1);
	border-radius: $radius;
	color: inherit;
	font-weight: 600;
	padding: ur(3) ur(6);
}

.info-row {
	td {
		padding: 0;
	}
}

.info-boxes {
	display: flex;
}

@include info-search-list;

.info-box:first-of-type {
	flex-basis: 60%;
}

.info-box:last-of-type {
	flex-basis: 40%;
}

@keyframes animate-stripes {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: (ur(16) * -2) 0;
	}
}

.row-delete {
	display: none;
	background-color: var(--error-0);
	border: none;
	border-radius: 0;
	color: var(--error-text);
	cursor: pointer;
	font-size: 1rem;
	text: {
		align: center;
		decoration: none;
	}
	padding: {
		top: ur(1);
		bottom: ur(1);
		left: ur(3);
		right: ur(3);
	}
	justify-content: center;
	align-items: center;

	&.deleting {
		animation: animate-stripes 1s linear infinite;
		background: {
			color: var(--error-0);
			image: linear-gradient(
				135deg,
				var(--error-1) 25%,
				transparent 25%,
				transparent 50%,
				var(--error-1) 50%,
				var(--error-1) 75%,
				transparent 75%,
				transparent
			);
			size: ur(16) ur(16);
		}
	}

	&:hover:not(.deleting) {
		background-color: var(--error-1);
	}

	#saved-table.editable & {
		display: flex;
	}
}

.site-options {
	margin-bottom: ur(36);
}

.blue-button {
	@extend %button;
	background-color: $blue-0;
	color: white;

	&:hover {
		background-color: $blue-1;
	}

	&:active {
		background-color: $blue-2;
	}
}

.button {
	@extend %button;
	@include hover(1);
}

#info-file-buttons {
	grid-column: 1/3;
	display: flex;
	gap: ur(6);
}

%option-layout {
	margin: ur(9) ur(18);
	display: flex;
}

%option-label {
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: ur(6);
}

//---------------------------------------------------------------------------------------------------------------------
// option textarea
//---------------------------------------------------------------------------------------------------------------------

.option-textarea {
	@extend %option-layout;
	flex-direction: column;
}

.textarea-label {
	margin-bottom: ur(3);
	width: min-content;
	white-space: nowrap;
}

.textarea-input {
	width: 100%;
	background-color: inherit;
	border: $border;
	box-sizing: border-box;
	color: inherit;
	display: block;
	font-size: inherit;
	margin: 0;
	outline: none;
	overflow-x: hidden;
	padding: ur(6);
	resize: vertical;
	tab-size: 4;
	border: {
		top: {
			left-radius: $radius;
			right-radius: $radius;
		}
		bottom: {
			left-radius: 0;
			right-radius: $radius;
		}
	}

	&:focus {
		border-color: $blue-0;
	}
}

.help-button {
	@extend %button;
	@include hover(1);
	width: ur(78);
	padding: {
		top: ur(3);
		bottom: ur(3);
	}
	border: {
		top: {
			left-radius: 0;
			right-radius: 0;
		}
	}
}

.help-table {
	border-collapse: collapse;

	tr {
		border-bottom: $border;
	}

	td {
		padding: ur(3) ur(18);
	}
}

//---------------------------------------------------------------------------------------------------------------------
// option checkbox
//---------------------------------------------------------------------------------------------------------------------

.option-checkbox {
	@extend %option-layout;
}

.checkbox-label {
	@extend %option-label;
}

.checkbox-input {
	display: none;
}

.switch {
	@extend %switch;
}

//---------------------------------------------------------------------------------------------------------------------
// option select
//---------------------------------------------------------------------------------------------------------------------

.option-select {
	@extend %option-layout;
}

.select-label {
	@extend %option-label;
}

.select-holder {
	@include mask-svg() {
		mask: {
			image: $icon-selection;
			size: ur(8) ur(12);
			position: {
				x: right ur(6);
				y: center;
			}
		}
	}
}

.select-input {
	-moz-appearance: none;
	appearance: none;
	background-color: var(--color-0);
	border: $border;
	border-radius: $radius;
	color: inherit;
	cursor: pointer;
	padding: ur(3) ur(18) ur(3) ur(3);
	font: {
		family: inherit;
		size: inherit;
	}

	&:focus {
		border-color: $blue-0;
	}
}

//---------------------------------------------------------------------------------------------------------------------
// option slider
//---------------------------------------------------------------------------------------------------------------------

.option-slider {
	@extend %option-layout;
	align-items: center;
	gap: ur(6);
}

.slider-label {
	@extend %option-label;
}

.slider-input {
	$bar-height: ur(3);
	height: $bar-height;
	-webkit-appearance: none;
	background-color: var(--color-2);
	border-radius: $bar-height;

	&::-moz-range-thumb {
		width: ur(12);
		height: ur(12);
		background-color: $blue-0;
		border: none;
		border-radius: ur(12);
		cursor: pointer;

		&:hover {
			background-color: $blue-1;
		}

		&:active {
			background-color: $blue-2;
		}
	}
}

//---------------------------------------------------------------------------------------------------------------------
// option number
//---------------------------------------------------------------------------------------------------------------------

.option-number {
	@extend %option-layout;
}

.custom-number {
	display: inline-grid;
	grid-template-columns: ur(36) ur(15);
}

.number-input {
	-moz-appearance: textfield;
	appearance: textfield;
	background-color: inherit;
	border: $border;
	border-radius: $radius 0 0 $radius;
	box-sizing: border-box;
	color: inherit;
	outline: none;
	padding: ur(3) ur(6) ur(3) ur(3);
	text-align: right;
	grid: {
		column: 1;
		row: 1/3;
	}
	font: {
		family: inherit;
		size: inherit;
	}

	&:focus {
		border-color: $blue-0;
	}
}

%stepper {
	@include mask-svg() {
		mask: {
			image: $icon-selection;
			position-x: center;
			size: ur(8) ur(12);
		}
	}
	@extend %button;
	@include hover(1);
	padding: 0;
}

.step-increase {
	@extend %stepper;
	border-radius: 0 $radius 0 0;
	grid: {
		column: 2;
		row: 1;
	}

	&::after {
		mask: {
			position-y: 0.45rem;
		}
	}
}

.step-decrease {
	@extend %stepper;
	border-radius: 0 0 $radius 0;
	grid: {
		column: 2;
		row: 2;
	}

	&::after {
		mask: {
			position-y: -0.45rem;
		}
	}
}

//---------------------------------------------------------------------------------------------------------------------
// file selectors
//---------------------------------------------------------------------------------------------------------------------

.file-selector {
	display: flex;
	flex-direction: column;
	gap: ur(3);
	flex: 1;
}

.file-label {
	display: flex;
	align-items: center;
	flex: 1;
	border: $border;
	border-radius: $radius;
	cursor: pointer;
	overflow: hidden;

	&:hover .file-before {
		background-color: var(--color-2);
	}
	&:active .file-before {
		background-color: var(--color-3);
	}
}

.file-input {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
}

.file-before {
	background-color: var(--color-1);
	border-right: $border;
	padding: ur(5) ur(12);
}

.file-name {
	padding: ur(5) ur(12);
}

#saved-info-content {
	display: grid;
	gap: ur(6);
	grid-template-columns: ur(124) 1fr;
	padding: ur(6) 0;
}

#table-side {
	display: flex;
	position: sticky;
	top: ur(6);
	height: min-content;
	flex-direction: column;
	gap: ur(6);
	grid: {
		column: 1;
		row: 3;
	}
}

#global-options-content {
	display: grid;
	gap: ur(6);
	grid-template-columns: ur(124) 1fr;
}

#global-options {
	grid-column: 2;
}

#settings-buttons {
	display: flex;
	padding: ur(6) 0;
	position: sticky;
	top: 0;
	height: min-content;
	flex-direction: column;
	gap: ur(6);

	grid-column: 1;
}

#import-options {
	display: none;
}

.undo-bar {
	display: flex;
	position: fixed;
	bottom: ur(15);
	left: ur(9);
	align-items: center;
	background-color: var(--warning-0);
	color: var(--warning-text);
	gap: ur(24);
	justify-content: center;
	padding: {
		top: ur(6);
		bottom: ur(6);
		left: ur(24);
		right: ur(12);
	}
}

.undo-button {
	width: ur(30);
	cursor: pointer;
	text: {
		align: center;
		decoration: underline;
	}

	&:hover,
	&:active {
		font-weight: bold;
	}
}

.close-button {
	display: flex;
	align-items: center;
	cursor: pointer;
	justify-content: center;
}

#site-options-content {
	display: grid;
	gap: ur(6);
	grid-template-columns: ur(124) 1fr;
}

#sites-side {
	display: flex;
	padding: ur(6) 0;
	position: sticky;
	top: 0;
	height: min-content;
	flex-direction: column;
	gap: ur(6);
	grid-column: 1;
}

#sites-list {
	flex: 1;
	grid-column: 2;
}

#sites-toggles {
	display: flex;
	background-color: var(--color-2);
	flex-direction: column;
	gap: 1px;
	padding: {
		top: 1px;
		bottom: 1px;
	}
}

.site-toggle {
	@include hover(0, true);
	display: flex;
}

.site-radio {
	@extend %button;
	background-color: inherit;

	&::after {
		width: ur(16);
		height: ur(16);
		background-color: var(--color-0);
		border: 1px solid var(--color-3);
		border-radius: ur(16);
		content: "";
	}

	&:hover,
	&.active {
		&::after {
			background-color: var(--color-2);
		}
	}
}

.site-button {
	@extend %button;
	background-color: inherit;
	border-radius: 0;
	flex: 1;
}

#about-info {
	width: min-content;
	font-size: ur(15);
	margin: auto;
	white-space: nowrap;
}

.about-link {
	color: $blue-0;
	text-decoration: none;
}
