:root,
:host {
  --color-blue: oklch(58% 0.23 260);
  --color-green: oklch(62% 0.25 142);
  --color-warning: oklch(84% 0.1 85);
  --color-warning-text: oklch(40% 0.1 85);
  --color-progress: oklch(32% 0.01 290);
  --color-progress-text: oklch(100% 0 0);
  --color-base-light: oklch(88% 0.01 290);
  --color-base-dark: oklch(32% 0.01 290);
  --color-base-text: light-dark(oklch(0% 0 0), oklch(100% 0 0));
  --color-error-light: oklch(78% 0.125 15);
  --color-error-dark: oklch(40% 0.18 25);
  --color-error-text: light-dark(oklch(28% 0.18 25), oklch(95% 0.125 15));
  --color-blue-1: oklch(from var(--color-blue) clamp(0, calc(l + 0.12), 1) c h);
  --color-blue-2: oklch(from var(--color-blue) clamp(0, calc(l + 0.06), 1) c h);
  --color-blue-3: var(--color-blue);
  --color-blue-4: oklch(from var(--color-blue) clamp(0, calc(l - 0.06), 1) c h);
  --color-blue-5: oklch(from var(--color-blue) clamp(0, calc(l - 0.12), 1) c h);
  --color-green-1: oklch(from var(--color-green) clamp(0, calc(l + 0.12), 1) c h);
  --color-green-2: oklch(from var(--color-green) clamp(0, calc(l + 0.06), 1) c h);
  --color-green-3: var(--color-green);
  --color-green-4: oklch(from var(--color-green) clamp(0, calc(l - 0.06), 1) c h);
  --color-green-5: oklch(from var(--color-green) clamp(0, calc(l - 0.12), 1) c h);
  --color-warning-1: oklch(from var(--color-warning) clamp(0, calc(l + 0.06), 1) c h);
  --color-warning-2: var(--color-warning);
  --color-warning-3: oklch(from var(--color-warning) clamp(0, calc(l - 0.06), 1) c h);
  --color-base-1: light-dark(
      oklch(from var(--color-base-light) clamp(0, calc(l + 0.12), 1) c h),
      oklch(from var(--color-base-dark) clamp(0, calc(l - 0.12), 1) c h)
  );
  --color-base-2: light-dark(
      oklch(from var(--color-base-light) clamp(0, calc(l + 0.06), 1) c h),
      oklch(from var(--color-base-dark) clamp(0, calc(l - 0.06), 1) c h)
  );
  --color-base-3: light-dark(
      var(--color-base-light),
      var(--color-base-dark)
  );
  --color-base-4: light-dark(
      oklch(from var(--color-base-light) clamp(0, calc(l - 0.06), 1) c h),
      oklch(from var(--color-base-dark) clamp(0, calc(l + 0.06), 1) c h)
  );
  --color-base-5: light-dark(
      oklch(from var(--color-base-light) clamp(0, calc(l - 0.12), 1) c h),
      oklch(from var(--color-base-dark) clamp(0, calc(l + 0.12), 1) c h)
  );
  --color-error-1: light-dark(
      oklch(from var(--color-error-light) clamp(0, calc(l + 0.12), 1) c h),
      oklch(from var(--color-error-dark) clamp(0, calc(l - 0.12), 1) c h)
  );
  --color-error-2: light-dark(
      oklch(from var(--color-error-light) clamp(0, calc(l + 0.06), 1) c h),
      oklch(from var(--color-error-dark) clamp(0, calc(l - 0.06), 1) c h)
  );
  --color-error-3: light-dark(
      var(--color-error-light),
      var(--color-error-dark)
  );
  --color-error-4: light-dark(
      oklch(from var(--color-error-light) clamp(0, calc(l - 0.06), 1) c h),
      oklch(from var(--color-error-dark) clamp(0, calc(l + 0.06), 1) c h)
  );
  --color-error-5: light-dark(
      oklch(from var(--color-error-light) clamp(0, calc(l - 0.12), 1) c h),
      oklch(from var(--color-error-dark) clamp(0, calc(l + 0.12), 1) c h)
  );
}

.themed[data-theme=light] {
  color-scheme: light;
}
.themed[data-theme=dark] {
  color-scheme: dark;
}
.themed[data-theme=preferred] {
  color-scheme: light dark;
}

.colors-base {
  --color-1: var(--color-base-1);
  --color-2: var(--color-base-2);
  --color-3: var(--color-base-3);
  --color-4: var(--color-base-4);
  --color-5: var(--color-base-5);
  --color-text: var(--color-base-text);
}

.colors-error {
  --color-1: var(--color-error-1);
  --color-2: var(--color-error-2);
  --color-3: var(--color-error-3);
  --color-4: var(--color-error-4);
  --color-5: var(--color-error-5);
  --color-text: var(--color-error-text);
}

.colors-warning {
  --color-1: var(--color-warning-1);
  --color-2: var(--color-warning-2);
  --color-3: var(--color-warning-3);
  --color-text: var(--color-warning-text);
}
