[data-flat-icon^="12"]::after {
  inline-size: 1rem;
}

[data-flat-icon^="16"]::after {
  inline-size: 1.3333333333rem;
}

:root {
  --icon-12-file: url("/icons/flat/flat_12.svg#icon1");
  --icon-12-folder: url("/icons/flat/flat_12.svg#icon2");
  --icon-12-copy: url("/icons/flat/flat_12.svg#icon3");
  --icon-12-download: url("/icons/flat/flat_12.svg#icon4");
  --icon-12-upload: url("/icons/flat/flat_12.svg#icon5");
  --icon-12-link: url("/icons/flat/flat_12.svg#icon6");
  --icon-12-reset: url("/icons/flat/flat_12.svg#icon7");
  --icon-12-user: url("/icons/flat/flat_12.svg#icon8");
  --icon-12-home: url("/icons/flat/flat_12.svg#icon9");
  --icon-12-gallery: url("/icons/flat/flat_12.svg#icon10");
  --icon-12-image: url("/icons/flat/flat_12.svg#icon11");
  --icon-12-star: url("/icons/flat/flat_12.svg#icon12");
  --icon-12-x: url("/icons/flat/flat_12.svg#icon13");
  --icon-12-selection: url("/icons/flat/flat_12.svg#icon14");
  --icon-16-addon: url("/icons/flat/flat_16.svg#icon1");
  --icon-16-stats: url("/icons/flat/flat_16.svg#icon2");
  --icon-16-user: url("/icons/flat/flat_16.svg#icon3");
  --icon-16-gear: url("/icons/flat/flat_16.svg#icon4");
  --icon-16-check: url("/icons/flat/flat_16.svg#icon5");
  --icon-16-collapse: url("/icons/flat/flat_16.svg#icon6");
  --icon-16-descend: url("/icons/flat/flat_16.svg#icon7");
  --icon-16-ascend: url("/icons/flat/flat_16.svg#icon8");
  --icon-16-match_case: url("/icons/flat/flat_16.svg#icon9");
  --icon-16-match_whole: url("/icons/flat/flat_16.svg#icon10");
  --icon-16-regex: url("/icons/flat/flat_16.svg#icon11");
}

body {
  background-color: var(--color-1);
}

.search-controls {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  padding-block: 0.1666666667rem;
  padding-inline: 0.75rem;
  background-color: var(--color-2);
  border-block-start-width: 1px;
  border-block-start-style: solid;
  border-block-start-color: var(--color-3);
}

.search-clear {
  grid-column: 1;
  grid-row: 1;
  justify-self: end;
  align-self: center;
  margin-inline-end: 0.5rem;
  padding: 0.1666666667rem;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-3);
  border-radius: 0.75rem;
  z-index: 2;
}

.search-flag {
  padding: 0.25rem;
  border-radius: 0.25rem;
  position: relative;
}
.search-flag input {
  appearance: none;
  position: absolute;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-3);
  border-radius: 0.25rem;
  inset: 0;
}
.search-flag input:checked {
  border-color: var(--color-blue-3);
}

.search-sort {
  padding: 0.25rem;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-3);
  border-radius: 0.25rem;
  margin-inline-start: 0.25rem;
}

.search-input {
  font-family: monospace;
  grid-column: 1;
  grid-row: 1;
  background-color: var(--color-1);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-3);
  border-radius: 0.25rem;
  min-inline-size: 0;
  padding-block: 0.25rem;
  padding-inline-start: 0.5rem;
  padding-inline-end: 1.8333333333rem;
  margin-inline-end: 0.25rem;
}

.search-results {
  overscroll-behavior: contain;
  position: relative;
  overflow: auto;
  resize: block;
  border-block-start-width: 1px;
  border-block-start-style: solid;
  border-block-start-color: var(--color-3);
}

.list {
  position: absolute;
  inset-block-start: 0;
  inline-size: 100%;
}

.list-row {
  display: flex;
  position: absolute;
  inline-size: 100%;
  padding-inline-end: 0.75rem;
}
.list-row:hover {
  background-color: var(--color-2);
}

.row-label {
  flex: 1;
  align-self: center;
  padding-block: 0.0833333333rem;
  padding-inline-start: 0.75rem;
  transition-property: padding-inline-start;
  transition-duration: 0.2s;
  min-inline-size: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: monospace;
  overflow: hidden;
}
.list-row:hover .row-label {
  padding-inline-start: 1.25rem;
}

.row-match {
  background-color: oklch(from var(--color-blue-1) l c h/0.5);
}

.row-link {
  padding-inline: 0.3333333333rem;
}
