:host {
  --hem: 1em;
}

[data-flat-icon^="12"]::after {
  inline-size: var(--hem);
}

[data-flat-icon^="16"]::after {
  inline-size: calc(var(--hem) * 1.3333333333);
}

.progress {
  isolation: isolate;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  border-radius: calc(var(--hem) * 0.25);
  overflow: hidden;
  inline-size: 100%;
  block-size: calc(var(--hem) * 1.3333333333);
  background-color: var(--color-progress);
}
.progress::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25% 50%, rgba(255, 255, 255, 0.15) 50% 75%, transparent 75%);
  background-size: calc(var(--hem) * 2.6666666667) calc(var(--hem) * 2.6666666667);
  mix-blend-mode: overlay;
  animation-name: animate-stripes;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: calc(var(--hem) * -2.6666666667) 0;
  }
}
.progress-bar {
  inline-size: 0;
  block-size: 100%;
  border-radius: calc(var(--hem) * 0.25);
  background-color: var(--color-blue-3);
}

.progress-label {
  --color-text: var(--color-progress-text);
  text-align: end;
  white-space: nowrap;
  padding-inline: calc(var(--hem) * 0.3333333333);
  position: relative;
  z-index: 1;
}
