@charset "UTF-8";
body {
  min-inline-size: 250px;
  max-inline-size: 800px;
  max-block-size: 600px;
}

.header {
  border-block-end-width: 2px;
  border-block-end-color: var(--color-3);
  border-block-end-style: solid;
}

.tabs {
  display: flex;
}
.tabs > :last-child {
  margin-inline-start: auto;
}

.tab-button {
  border: none;
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
}
.tab-button:hover {
  border-block-end-width: 2px;
  border-block-end-style: solid;
  border-block-end-color: var(--color-4);
}
.tab-button.active {
  --color-text: var(--color-blue-3);
  border-block-end-width: 2px;
  border-block-end-style: solid;
  border-block-end-color: var(--color-blue-3);
}

.content-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-block: 0.5rem;
  padding-inline: 2rem;
}

.content-error {
  display: grid;
  gap: 0.5rem;
  padding-block: 0.5rem;
  padding-inline: 2rem;
  background-color: var(--color-1);
}

.loading-icon {
  animation-name: rotation;
  animation-duration: 0.6s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
}

.stat-header {
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  background-color: var(--color-2);
}

.stat-block {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
  padding-block: 0.25rem;
  padding-inline: 0.75rem;
  white-space: nowrap;
  align-items: center;
  text-align: start;
  border-block-start-width: 1px;
  border-block-start-style: solid;
  border-block-start-color: var(--color-3);
}

.stat-value {
  font-family: monospace;
  border-radius: 0.25rem;
  overflow: hidden;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  background-color: var(--color-2);
}

.page-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-block-start-width: 1px;
  border-block-start-style: solid;
  border-block-start-color: var(--color-3);
}

.stat-colored-button {
  --color-text: white;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  border: none;
  padding-block: 0.25rem;
  padding-inline: 0.75rem;
}
.stat-colored-button > :nth-child(1) {
  display: block;
}
.stat-colored-button > :nth-child(2) {
  display: none;
}
.stat-colored-button:hover > :nth-child(1) {
  display: none;
}
.stat-colored-button:hover > :nth-child(2) {
  display: block;
}
.stat-colored-button .stat-value {
  background-color: var(--color-1);
}

.green-stat {
  --color-initial: var(--color-green-3);
  --color-hover: var(--color-green-2);
  --color-active: var(--color-green-4);
}
.green-stat .stat-value {
  --color-text: var(--color-green-3);
}

.blue-stat {
  --color-initial: var(--color-blue-3);
  --color-hover: var(--color-blue-2);
  --color-active: var(--color-blue-4);
}
.blue-stat .stat-value {
  --color-text: var(--color-blue-3);
}

.stats-site {
  border-block-start-width: 1px;
  border-block-start-style: solid;
  border-block-start-color: var(--color-3);
}

.line-break {
  border: none;
  border-block-start-width: 1px;
  border-block-start-style: solid;
  border-block-start-color: currentColor;
}

.user-profile {
  display: grid;
  grid-template-columns: auto 1fr;
}

.profile-cover {
  padding: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  min-inline-size: 7.5rem;
  background-color: var(--color-2);
}

.profile-image {
  inline-size: 4.6666666667rem;
  block-size: 4.6666666667rem;
  object-fit: cover;
  object-position: top;
  padding: 0.25rem;
  background-color: var(--color-1);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-3);
  border-radius: 0.25rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-image::before {
  --color-text: var(--color-3);
  content: "";
  inline-size: 2.6666666667rem;
  aspect-ratio: 1;
  background-color: var(--color-3);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: var(--icon-16-user);
}

.user-error-link {
  text-decoration: underline;
  font-weight: bold;
}

.user-name {
  font-weight: bold;
  font-size: 1.3333333333rem;
  word-break: break-word;
}

.user-buttons {
  display: flex;
  justify-content: center;
  inline-size: min-content;
}

.user-button {
  padding-block: 0.25rem;
  padding-inline: 0.4166666667rem;
  border: none;
  border-block-width: 1px;
  border-block-style: solid;
  border-block-color: var(--color-3);
}
.user-button:first-child {
  border-inline-start-width: 1px;
  border-inline-start-style: solid;
  border-inline-start-color: var(--color-3);
  border-start-start-radius: 0.25rem;
  border-end-start-radius: 0.25rem;
}
.user-button:last-child, .user-button:has(+ .hide) {
  border-inline-end-width: 1px;
  border-inline-end-style: solid;
  border-inline-end-color: var(--color-3);
  border-start-end-radius: 0.25rem;
  border-end-end-radius: 0.25rem;
}

.user-stats {
  border-inline-start-width: 1px;
  border-inline-start-style: solid;
  border-inline-start-color: var(--color-3);
}

.saved-details {
  display: contents;
}

.saved-summary {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding-block: 0.25rem;
  padding-inline: 0.75rem;
  white-space: nowrap;
  align-items: center;
  text-align: start;
  border-block-start-width: 1px;
  border-block-start-style: solid;
  border-block-start-color: var(--color-3);
}
.saved-summary::before {
  content: "▶";
  font-size: 0.8333333333rem;
  margin-inline-end: 0.5rem;
  inline-size: 1.5ch;
}
[open] .saved-summary::before {
  content: "▼";
}

.about-info {
  display: grid;
  justify-items: center;
  gap: 1.5rem;
  padding: 1rem;
}

.about-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
}

.about-icon {
  inline-size: 2.6666666667rem;
  aspect-ratio: 1;
}

.about-title {
  font-size: 2rem;
  font-weight: bold;
}

.about-section {
  display: grid;
  gap: 0.5rem;
}

.about-list {
  margin-inline: auto;
  display: grid;
  gap: 0.5rem;
}

.about-link {
  --color-text: var(--color-blue-3);
  text-decoration: none;
}

.about-version {
  font-family: monospace;
  font-size: 1.25rem;
  font-weight: bold;
}
