@use "../css/template" as *;

$stat-width: 140px;

html {
  @extend %font;
}

body {
  padding: 0;
  overflow: hidden;
  margin: 0;
  color: $color-text;
}

*{
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

#popup-container {
  //display: table;
  min-width: 250px;
  max-width: 800px;
  max-height: 600px;
}

.tabs {
  display: flex;

  > :last-child {
    margin-left: auto;
  }

  > button {
    color: $color-text;
    background-color: inherit;
    border: none;
    outline: none;
    padding: $vert-pad $horz-pad*2;
    transition: {
      property: background-color;
      duration: .3s;
    };
    font-size: u(16);

    &:not(#settings-tab){
      display: none;
    }

    &:hover {
      background-color: $color-1;
    }

    &.active {
      background-color: $color-2;
    }
  }
}

.tab-content {
  display: none;
}

.header {
  background-color: $color-1;
  border-top: $style-border;
  padding: $base-padding;
}

#stats-site {
  text-transform: capitalize;
}

.stat-row {
  border-top: $style-border;
  padding: $base-padding;

  display: flex;
  flex: 1;

  > div {
    white-space: nowrap;
  }

  > :first-child {
    margin: auto auto auto 0;
  }

  > :last-child {
    margin: auto 0 auto $horz-pad;
  }
}

#user-profile {
  display: flex;
}

#user-stats {
  border-left: $style-border;
  display: none;
  min-width: $stat-width;
  flex-direction: column;
  flex: 1;
}

#profile-cover {
  background-color: $color-1;
  padding: $vert-pad;
  text-align: center;
  border-top: $style-border;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 110px;

  > div {
    margin: u(3) auto;
  }
}

#profile-pic {
  width: u(50);
  height: u(50);
  
  object: {
    fit: cover;
    position: top center;
  }
}

.img-thumbnail {
  background-color: $color-0;
  border: $style-border;
  border-radius: $radius;
  line-height: 0;
  display: table;
  margin: auto;
  padding: $vert-button-pad;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-icon {
  animation: rotation 0.5s steps(12, end) infinite;
  animation-iteration-count: infinite;
}

#user-name {
  font: {
    weight: 600;
    size: u(16);
  }
  white-space: nowrap;
}

#user-buttons {
  margin-top: $vert-button-pad;
  display: none;
  justify-content: center;
}

.icon-button {
  background-color: $color-0;
  border: $style-border;
  border-radius: $radius;
  padding: $base-button-padding;

  cursor: pointer;
  color: $color-text;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  margin: 0 u(2);
  display: flex;

  > i {
    margin: auto;
  }

  &:hover {
    background-color: $color-1;
  }

  &#user-folder {
    display: none;
  }
}

.badge {
  background-color: $color-1;
  border-radius: $radius;
  padding: $base-button-padding;
  font-weight: 600;
}

.search-box {
  display: none;
  border-top: $style-border;
  width: 100%;

  .search {
    padding: u(2) $horz-pad;
    background-color: $color-1;
    display: flex;

    button {
      border-radius: 0 $radius $radius 0;
      border-left: none;
      margin: 0;
    }
  
    input {
      background-color: $color-0;
      border: $style-border;
      border-radius: $radius 0 0 $radius;
      padding: $base-button-padding;
      width: 100%;
      font: {
        size: inherit;
        family: inherit;
      }
    }
  }

  .list {
    border-top: $style-border;
    position: relative;
    overflow: auto;
    resize: vertical;
  }
  
  .link-list {
    position: absolute;
    top: 0;
    width: 100%;

    > a {
      position: absolute;
      display: block;
      text-decoration: none;
      color: $color-text;
      padding: u(1) u(21);
      transition: padding-left 0.2s;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;

      &:hover {
        background-color: $color-1;
        padding-left: u(27);
      }

      .link-search {
        font-weight: 700;
      }
    }
  }
}

#total-saved {
  display: none;
}

.stat-button {
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    background-color: $color-1;
  }
}

.search-holder {
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}

.input-holder {
  flex: 1;
}

.button-stat {
  padding: $base-button-padding;;
  border-radius: $radius;
  background-color: $color-0;
}

#recheck {
  background-color: $green;
  color: $color-0;
  border: 0;

  .button-stat {
    color: $green;
  }

  &:hover {
    background-color: $green-light-1;
  }

  &:active {
    background-color: $green-light-2;
  }
}


#download-all, #download-lock {
  background-color: $blue;
  color: $color-0;
  border: 0;

  &:hover {
    background-color: $blue-light-1;
  }

  &:active {
    background-color: $blue-light-2;
  }
}
  
#download-all {
  .button-stat {
    color: $blue;
  }

  &[disabled] {
    background-color: $color-1;
    pointer-events: none;
    color: scale-color($color-1, $lightness: -50%);

    .button-stat {
      color: inherit;
    }
  }
}

#download-lock {
  padding: 0 $horz-button-pad;
  
  i {
    font-size: 1rem;
  }
}

#found-stats {
  border-top: $style-border;
  display: flex;
  flex: 1;
}

.flex-button {
  display: flex;
  flex: 1;
  font: {
    size: inherit;
    family: inherit;
    weight: 600;
  }
  padding: $base-padding;

  > :last-child {
    margin: auto 0 auto $horz-pad;
  }

  .label-1 {
    margin: auto;
    display: block;
  }
  .label-2 {
    margin: auto;
    display: none;
  }

  &:hover {
    .label-1 {
      display: none;
    }
    .label-2 {
      display: block;
    }
  }
}

#unsupported-page {
  border-top: $style-border;
  background-color: #fff3cd;
  color: #856404;

  .linebreak {
    border-top: u(1) solid #856404;
    margin: u(6) 0;
  }
}

%information{
  width: u(250);
  padding: u(9) u(15);
  margin: auto;
}

#unsupported-info {
  @extend %information;
}

#getting-info {
  @extend %information;
  display: flex;

  .loading-icon {
    width: u(16);
    height: u(16);
  }

  > div {
    margin: auto;
  }
}

#getting-page {
  border-top: $style-border;
  background-color: $color-1;
}

#link-tester {
  padding: {
    left: $horz-pad + u(6);
    right: $horz-pad;
  }
  position: absolute;
  top: 0;
  opacity: 0;
}