@use "../css/template" as *;

$stat-width: 140px;

html {
	@extend %font;
}

body {
	@include themes;
	padding: 0;
	overflow: hidden;
	margin: 0;
	color: var(--text);
	background-color: var(--color-0);
}

// * {
// 	box-sizing: border-box;
// }

:focus-visible {
	outline: none;
}

.hide {
	display: none !important;
}

#popup-container {
	//display: table;
	min-width: 250px;
	max-width: 800px;
	max-height: 600px;
}

.tabs {
	display: flex;
	border-bottom: {
		style: solid;
		width: 2px;
		color: var(--color-2);
	}

	> :last-child {
		margin-left: auto;
	}
}

.tab-button {
	background-color: inherit;
	border: none;
	outline: none;
	padding: ur(6) ur(18);
	font-size: ur(16);
	cursor: pointer;
	color: var(--text);

	&:hover {
		background-color: var(--color-1);
		border-bottom: {
			color: var(--color-3);
			style: solid;
			width: 2px;
		}
	}

	&.active {
		color: $blue-0;
		border-bottom: {
			color: $blue-0;
			style: solid;
			width: 2px;
		}
	}
}

.content-loading {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: ur(12);
	padding: ur(6);
}

.header {
	padding: ur(6) ur(9);
	background-color: var(--color-1);
}

#stats-site {
	text-transform: capitalize;
}

#user-info {
	display: flex;

	> :nth-child(n + 2) {
		border-left: $border;
	}

	&.no-stats {
		flex-direction: column;

		> :nth-child(n + 2) {
			border-left: none;
			border-top: $border;
		}

		#total-saved {
			border: none;
		}
	}
}

#user-stats {
	display: flex;
	min-width: $stat-width;
	flex-direction: column;
	flex: 1;
}

#profile-cover {
	padding: ur(6);
	text-align: center;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: ur(3);
	min-width: 90px;
	background-color: var(--color-1);
}

#profile-pic {
	display: block;
	width: ur(50);
	height: ur(50);
	object: {
		fit: cover;
		position: top center;
	}
	padding: ur(3);
	background-color: var(--color-0);
	border: $border;
	border-radius: $radius;
}

// .img-thumbnail {
// 	border-radius: $radius;
// 	line-height: 0;
// 	display: table;
// 	margin: auto;
// 	padding: ur(3);
// 	background-color: var(--color-0);
// 	border: $border;
// }

#user-name {
	font: {
		weight: 600;
		size: ur(16);
	}
	white-space: nowrap;
}

#user-buttons {
	display: flex;
	justify-content: center;
	width: min-content;
	border-radius: $radius;
	overflow: hidden;
	border: $border;
}

.user-button {
	@extend %icon-button;
	padding: ur(3) ur(5);
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loading-icon {
	animation: rotation 0.5s steps(12, end) infinite;
	animation-iteration-count: infinite;
}

%badge {
	border-radius: $radius;
	padding: ur(3) ur(6);
	font-weight: 600;
}

.badge {
	@extend %badge;
	background-color: var(--color-1);
}

@include info-search-list;

.info-box {
	border-top: $border;
}

#total-saved {
	display: flex;
	border-top: none;
	border-bottom: $border;
}

%stat {
	padding: {
		top: ur(3);
		bottom: ur(3);
		left: ur(9);
		right: ur(9);
	}
	display: flex;
	align-items: center;
	justify-content: space-between;
	white-space: nowrap;
	border-top: $border;
}

.stat-row {
	@extend %stat;
}

.stat-button {
	@extend %stat;
	@include hover(0, true, true);
	cursor: pointer;
}

.green-badge {
	@extend %badge;
	background-color: var(--color-0);
	color: $green-0;
}

.blue-badge {
	@extend %badge;
	background-color: var(--color-0);
	color: $blue-0;
}

#recheck {
	background-color: $green-0;
	border: none;
	color: white;

	&:hover {
		background-color: $green-1;
	}

	&:active {
		background-color: $green-2;
	}
}

#download-all,
#download-lock {
	background-color: $blue-0;
	border: none;
	color: white;
	cursor: pointer;

	&:hover {
		background-color: $blue-1;
	}

	&:active {
		background-color: $blue-2;
	}
}

#download-all[disabled] {
	pointer-events: none;
	color: var(--color-3);
	background-color: var(--color-1);

	.blue-badge {
		color: var(--color-3);
	}
}

#download-lock {
	padding: 0 ur(6);

	i {
		font-size: 1rem;
	}
}

#found-stats {
	display: flex;
	flex: 1;
	border: {
		top: $border;
		bottom: $border;
	}
}

.action-button {
	display: flex;
	flex: 1;
	font: {
		size: inherit;
		family: inherit;
		weight: 600;
	}
	padding: {
		top: ur(3);
		bottom: ur(3);
		left: ur(9);
		right: ur(9);
	}
	cursor: pointer;

	.label-1 {
		margin: auto;
		display: block;
		flex: 1;
		justify-content: center;
	}
	.label-2 {
		margin: auto;
		display: none;
		flex: 1;
		justify-content: center;
	}

	&:hover {
		.label-1 {
			display: none;
		}
		.label-2 {
			display: block;
		}
	}
}

.content-error {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	gap: ur(6);
	padding: ur(6) ur(24);
	background-color: var(--warning-0);
	color: var(--warning-text);
	width: ur(250);
}

.linebreak {
	border-top: 1px solid var(--warning-text);
}

#user-error-link {
	color: var(--warning-text);

	&:hover,
	&:active {
		font-weight: bold;
	}
}

#link-tester {
	padding: {
		left: ur(15);
		right: ur(9);
	}
	position: absolute;
	top: 0;
	opacity: 0;
}
